{% extends 'base.html' %}
{% load static %}
{% block title %}그림그리기{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'paints/css/create.css' %}">
{% endblock head %}


{% block aside %}
<article class="main--title--wrap">
  <h1 class="font--gangwon main--title"><span class="" style="color:skyblue;"><i class="bi bi-palette"></i></span> 그림 수정하기</h1>
  <p>작은 그림 하나에도 감정과 이야기가 담겨 있어요. 그 소중한 작품 하나하나가 우리의 일상을 더욱 풍요롭게 만들어주죠.</p>
</article>
{% endblock aside %}


{% block content %}
<article class="paint__create--container">
  <section class="index--link--wrap">
    <a class="index--link" href="{% url 'paints:index' %}">목록</a>
  </section>
  <canvas id="myCanvas"></canvas>
  <section>
    <div class="palette--container">
      <div class="palette--wrap">
        <div class="palette--color--wrap">
          <span>팔레트</span>
          <input id="thisColor" type="color" class="this--color">
        </div>
        <div id="colorList">
          <ul class="color--list">
            <li class="color-option" style="background-color: #ff0000;" data-color="#ff0000"></li>
            <li class="color-option" style="background-color: #ffa500;" data-color="#ffa500"></li>
            <li class="color-option" style="background-color: #ffff00;" data-color="#ffff00"></li>
            <li class="color-option" style="background-color: #008003;" data-color="#008003"></li>
            <li class="color-option" style="background-color: #0000ff;" data-color="#0000ff"></li>
            <li class="color-option" style="background-color: #000080;" data-color="#000080"></li>
            <li class="color-option" style="background-color: #800080;" data-color="#800080"></li>
            <li class="color-option" style="background-color: #a5512a;" data-color="#a5512a"></li>
            <li class="color-option" style="background-color: #000000;" data-color="#000000"></li>
            <li class="color-option" style="background-color: #c0c0c0;" data-color="#c0c0c0"></li>
            <li class="color-option" style="background-color: #ffd700;" data-color="#ffd700"></li>
            <li class="color-option" style="background-color: #FFF89A;" data-color="#FFF89A"></li>
            <li class="color-option" style="background-color: #EDFFA9;" data-color="#EDFFA9"></li>
            <li class="color-option" style="background-color: #BAE5E5;" data-color="#BAE5E5"></li>
            <li class="color-option" style="background-color: #98D6EA;" data-color="#98D6EA"></li>
            <li class="color-option" style="background-color: #F3D1F4;" data-color="#F3D1F4"></li>
            <li class="color-option" style="background-color: #F3D1F4;" data-color="#F3D1F4"></li>
            <li class="color-option" style="background-color: #D9ACF5;" data-color="#D9ACF5"></li>
            <li class="color-option" style="background-color: #C1AEFC;" data-color="#C1AEFC"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="etc--container">
      <div class="line--width--wrap">
        <span>선굵기</span>
        <input id="line-width" type="range" min="1" max="10" value="5">
      </div>
      <button id="undoBtn" class="cancel--button"> 실행 취소</button>
    </div>
  </section>
  <button onclick="downloadImage()" class="paint--button">이미지 업로드</button>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const paint = document.getElementById("myCanvas");

    // 
    const colorOptions = Array.from(
        document.getElementsByClassName("color-option")
    );
    const thisColor = document.getElementById("thisColor");
    const lineWidth = document.getElementById("line-width");
    const canvas = document.querySelector("canvas");
    const ctx = canvas.getContext("2d");
    canvas.width = 500;
    canvas.height = 500;
    ctx.lineWidth = lineWidth.value; 
    let isPainting = false;
    let isFilling = false;

    function onMove(event) {
        if(isPainting) {
            ctx.lineTo(event.offsetX, event.offsetY);
            ctx.stroke();
            return;
        }
        ctx.moveTo(event.offsetX, event.offsetY);
    }
    
    function startPainting() {
        isPainting = true;
    }
    
    function cancelPainting() {
        isPainting = false;
        ctx.beginPath();
    }
    
    function onLineWidthChange(event) {
        // console.log(event);
        ctx.beginPath();
        ctx.lineWidth = event.target.value;
    }
    
    function onClolorChange(event) {
        // console.log(event.target.value);
        ctx.strokeStyle = event.target.value;
        ctx.fillStyle = event.target.value;
    
    }
    
    function onColorClick(event) {
        // console.dir(event.target.dataset.color);
        const colorValue = event.target.dataset.color
        ctx.strokeStyle = colorValue;
        ctx.fillStyle = colorValue;
        thisColor.value = colorValue;
    }
    
    
    canvas.addEventListener("mousemove", onMove);
    canvas.addEventListener("mousedown", startPainting);
    canvas.addEventListener("mouseup", cancelPainting);
    canvas.addEventListener("mouseleave", cancelPainting);
    
    
    lineWidth.addEventListener("change", onLineWidthChange);
    thisColor.addEventListener("change", onClolorChange)
    
    
    // console.log(colorOptions);
    colorOptions.forEach(color => color.addEventListener("click",
    onColorClick));


    let canvasHistory = [canvas.toDataURL()]; // 그리기 이력을 저장하는 배열에 초기 canvas 상태를 추가
    let step = 0; // 현재 그리기 위치를 추적
    
    function startPainting() {
        isPainting = true;
    }
    
    function cancelPainting() {
        isPainting = false;
        ctx.beginPath();
        // 그리기가 끝나는 시점에 이력을 저장
        step++;
        if (step < canvasHistory.length) { 
            canvasHistory.length = step; // 현재 단계 이후의 그리기 이력을 제거
        }
        canvasHistory.push(canvas.toDataURL()); // 그리기 이력에 현재 캔버스 상태를 추가
    }
    
    // 실행 취소 기능
    function undoLast() {
        if (step > 0) {
            step--;
            let canvasPic = new Image();
            canvasPic.src = canvasHistory[step];
            canvasPic.onload = function () { 
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(canvasPic, 0, 0); 
            }
        }
    }
    
    // 실행 취소 버튼 이벤트
    const undoBtn = document.getElementById('undoBtn');
    undoBtn.addEventListener('click', undoLast);



    // 그림을 서버로 전송하는 함수
    function downloadImage() {
        // canvas의 이미지를 base64 형식으로 인코딩
        const image = paint.toDataURL("image/png");
    
        // AJAX를 이용하여 서버에 이미지 데이터를 POST 방식으로 전송
        $.ajax({
            type: 'POST',
            url: '/paints/create/',  // 서버의 URL을 입력
            data: {
                'image': image,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                alert("그림이 저장되었습니다~ >< ");
                window.location.href = '/paints/';
            }
        });
    }
</script>
{% endblock content %}

{% block script %}{% endblock script %}