{% extends 'base.html' %}
{% load static %}
{% block title %}그림게시판{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'paints/css/index.css' %}">
{% endblock head %}


{% block aside %}
<article class="main--title--wrap">
  <h1 class="font--gangwon main--title"><span class="" style="color:skyblue;"><i class="bi bi-palette"></i></span> 그림 이음</h1>
  <p>작은 그림 하나에도 감정과 이야기가 담겨 있어요. 그 소중한 작품 하나하나가 우리의 일상을 더욱 풍요롭게 만들어주죠.</p>
</article>
{% endblock aside %}



{% block content %}
<article class="paints--container">
  <div id="tree-container" class="tree--container">
    <img class="tree--image" src="{% static 'paints/image/ieum_tree_03.png' %}" alt="Tree Image" draggable="false">
    <ul class="paints--list">
      {% for paint, position in paint_positions %}
        {% if paint.image %}
          <li id="fruit-image-1" class="fruit-image hallabong-wrap" style="top:{{ position.top }}; left:{{ position.left }};">
            <img class="paint--hallabong" src="{% static 'paints/image/hallabong_05.png' %}" alt="Fruit Image">
            <div class="paint--content">
              <img class="paint--userpaint" src="{{ paint.image.url }}" alt="{{ paint.user }}의 그림">
              <div class="paint--etc--wrap">
                {% if request.user.is_authenticated %}
                  <form id="paints-form-{{paint.pk}}" data-paint-id="{{ paint.pk }}">
                    {% csrf_token %}
                    {% if request.user == paint.user %}
                    {% else %}
                      {% if request.user in paint.like_users.all %}
                        <button type="submit" class="">
                          <i class="bi-suit-heart-fill" id="paints-heart-{{paint.pk}}" style="color: #f0872a;">
                            <span id="paints-like-count-{{paint.pk}}">{{ paint.like_users.all|length }}</span>
                          </i>
                        </button>
                      {% else %}
                        <button type="submit" class="">
                          <i class="bi-suit-heart" id="paints-heart-{{paint.pk}}" style="color: #f0872a;">
                            <span id="paints-like-count-{{paint.pk}}">{{ paint.like_users.all|length }}</span>
                          </i>
                        </button>
                      {% endif %}
                    {% endif %}
                  </form>
                {% endif %} 
                {% if request.user == paint.user %}
                {% else %}
                  <a class="paint--update" href="{% url 'paints:update' paint.pk %}">
                    <i class="bi-pencil-fill" style="color: #008d63;"></i>
                  </a>
                {% endif %}
              </div>
              <p class="paint--user">{{ paint.user }}</p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <!-- 페이지네이션 -->
    <ul class="page--previous">
      {% if paints.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ paints.previous_page_number }}">
            <img class="previous--stone" src="{% static 'paints/image/stone_02.png' %}" alt="stone" title="이전페이지">
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            <img class="previous--stone" src="{% static 'paints/image/stone_02.png' %}" alt="stone" title="이전페이지">
          </a>
        </li>
      {% endif %}
    </ul>
    <ul class="page--next">
      {% if paints.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ paints.next_page_number }}">
            <img class="next--stone" src="{% static 'paints/image/stone_03.png' %}" alt="stone" title="다음페이지">
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            <img class="next--stone" src="{% static 'paints/image/stone_03.png' %}" alt="stone" title="다음페이지">
          </a>
        </li>
      {% endif %}
    </ul>
    <div class="paint--harbang--container">
      <a class="paint--harbang--wrap" href="{% url 'paints:create' %}" >
        <img class="paint--harbang" src="{% static 'paints/image/harbang_02_nodot.png' %}" alt="돌하르방" title="그림그리기">
      </a>
    </div>
  </div>
  <div class="big--content--wrap">
    <div class="big--content">
      <img class="paint--big--userpaint" src="{% static 'paints/image/ieum_paints_banner_02.jpg' %}" alt="paint--image">
    </div>
  </div>
</article>


<script>
  let fruitImages = document.querySelectorAll('.fruit-image');
  
  // 현재 움직이고 있는 과일 이미지를 저장할 변수를 선언
  let movingFruitImage = null;
  let offsetX = 0, offsetY = 0;
  
  // 각 과일 이미지에 대해 이벤트 핸들러를 등록
  fruitImages.forEach(function(fruitImage) {
    fruitImage.addEventListener('mousedown', function(e) {
      // 마우스 포인터와 이미지의 (0, 0) 좌표 사이의 거리를 계산
      let rect = fruitImage.getBoundingClientRect();
      offsetX = e.clientX - rect.left;
      offsetY = e.clientY - rect.top;
  
      // 현재 움직이고 있는 과일 이미지를 설정
      movingFruitImage = fruitImage;
  
      // 브라우저의 기본 드래그 동작을 막기
      e.preventDefault();
    });
  });
  
  document.addEventListener('mousemove', function(e) {
    if (movingFruitImage) {
      // 나무 이미지를 기준으로 열매 이미지의 위치를 조정
      let treeContainer = document.getElementById('tree-container');
      let treeRect = treeContainer.getBoundingClientRect();
  
      let newLeft = e.clientX - treeRect.left - offsetX;
      let newTop = e.clientY - treeRect.top - offsetY;
  
      // 위치를 설정할 때는 픽셀 단위를 사용
      movingFruitImage.style.left = newLeft + 'px';
      movingFruitImage.style.top = newTop + 'px';
    }
  });
  
  document.addEventListener('mouseup', function(e) {
    // 마우스 버튼이 놓여지면 현재 움직이고 있는 과일 이미지를 초기화
    movingFruitImage = null;
  });

  let originalSrc = document.querySelector('.paint--big--userpaint').src;
  let imgElement = document.querySelector('.paint--big--userpaint');



  document.querySelector('.paints--list').addEventListener('mouseover', function(event) {
    if (event.target.classList.contains('paint--userpaint')) {
      let imgSrc = event.target.src;
      imgElement.style.opacity = '0';
      imgElement.style.display = 'block'; // 마우스가 올라갔을 때 표시
      setTimeout(function() {
        imgElement.src = imgSrc;
        imgElement.style.opacity = '1';
        imgElement.style.background = 'white';
      }, 500);
    }
  });

  document.querySelector('.paints--list').addEventListener('mouseout', function(event) {
    if (event.target.classList.contains('paint--userpaint')) {
      imgElement.style.opacity = '0';
      imgElement.style.background = '';
      setTimeout(function() {
        imgElement.src = originalSrc;
        imgElement.style.opacity = '1';
      }, 200);
    }
  });


  const forms = document.querySelectorAll('[id^="paints-form"]')  // select all forms

  forms.forEach((form) => {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const paintId = this.dataset.paintId  // get paint id from the specific form
      axios({
        method: 'post',
        url: `/paints/${paintId}/like_users/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          const isLike = response.data.is_like
          const likeBtni = this.querySelector('button[type=submit] > i')  // select the specific button
          
          if (isLike === true) {
            likeBtni.classList.remove('bi-suit-heart')
            likeBtni.classList.add('bi-suit-heart-fill') 
          } else {
            likeBtni.classList.remove('bi-suit-heart-fill')
            likeBtni.classList.add('bi-suit-heart')  
          }
          const paintCountTag = this.querySelector('span')  // select the specific span
          const paintCountData = response.data.paint_likes_count
          paintCountTag.textContent = paintCountData
        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  })

</script>
{% endblock content %}

{% block script %}{% endblock script %}

