aside.base--item {
  text-align: center;
  background-color: rgb(219, 245, 255);
}
.main--title--wrap {
  padding : 5rem 0;
}
.main--title {
  margin-bottom: 1rem;
}
.paints--container {
  /* display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 1rem;
  align-items: flex-end; 
  width: ; 
  height: 70vh; 
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-size: contain; */
}
.tree--container {
  position: relative;
}
.tree--image {
  width: 650px;
  /* width: 100%;  */
  /* height: 70vh;  */
}
.hallabong-wrap {
  position: absolute; 
}
.paint--hallabong {
  width: 100%;
  height: auto;
}
.paint--content {
  position: absolute; 
  bottom:10%; left:50%; 
  transform: translateX(-50%); 
  width: 60%; 
  background-color: #fff;
  background: linear-gradient(
    rgba(255,255,255,0.4), rgba(255,255,255,0.35), rgba(255,255,255,0.3), rgba(255,255,255,0.25), rgba(255,255,255,0.2),
    rgba(255,255,255,0.25), rgba(255,255,255,0.35), rgba(255,255,255,0.4), rgba(255,255,255,0.5), rgba(255,255,255,0.6),
    rgba(255,255,255,0.7), rgba(255,255,255,0.8), rgba(255,255,255,0.9));
    box-shadow: 0 0 10px rgba(0,0,0,0.05), inset 0 0 10px rgba(0,0,0,0.05);
}
.paint--userpaint {
  width: 100%;
}

.paint--etc--wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  /* background-color: rgba(255,255,255,0.5); */
}

.paint--update {
}
.paint--user {
  position:absolute;
  bottom: -1rem; 
  left:50%; 
  transform: translateX(-50%); 
  width: 100%; 
  font-size: 0.8rem; 
  text-align: center; 
}

.page--previous {
  position: absolute;  
  bottom: 0;
  left: 260px;
  transform: translateX(-50%); 
}
.previous--stone{
  width: 50px;
  height: 50px;
}
.page--next {
  position: absolute; 
  bottom: 0;
  left: 350px;
  transform: translateX(50%); 
}
.next--stone {
  width: 70px;
  height: 70px;
}
.paint--harbang--container {
  position: absolute;
  bottom: 0;
}
.paint--harbang--wrap {
}
.paint--harbang {
  width: 70px;
}
.big--content--wrap {
  display: flex;
  justify-content: center; 
  align-items: flex-end;
  height: 100%;
  border-radius: 10px;
}
.big--content {
  position: absolute;
  right: 400px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 5px solid  rgb(219, 245, 255);
  background-color: #fff;
}
.paint--big--userpaint {
  width: 390px;
  height: 390px;
  border-radius: 5px;
  background-color: #fff;
}

