aside.base--item {
  text-align: center;
  background-color: #fdeaff;
}
.chat--table {
  width: 100%;
  table-layout: fixed;
}
.main--title--wrap {
  padding : 5rem 0;
  /* 화면 너비 조정 */
  max-width: 100%;
  overflow-x: auto;
  min-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fdeaff;
}
.main--title {
  margin-bottom: 1rem;
}
.main--title--icon {
  color: #f9cbff;
}
.index--table--box {
  text-align: center;
  width: 200px;
}
.index--content {
  /* text-align: center; */
  width: 30%;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  /* display: inline-block; */
}
.chat--create--btn {
  border-radius: 6px;
  background: #fdeaff;
  padding: 3px 6px;
  margin-left: 10px;
}
.chat--create--btn:hover {
  background: #f9cbff;
}
.chat--enter--aTag:hover {
  border-bottom: 2px solid #ed69ff;
}

@media (max-width:950px) {
  .chat--title {
    text-align: center;
  }
  .chat--input {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .index--content {
      width: 15%;
  }
}