.sent_messages--btn {
    box-sizing: border-box;
    /* border: 1px solid; */
    border: none;
    background: #DEECA1;
    border-radius: 5px;
    padding: 3px 10px;
}
.sent_messages--btn:hover {
    background: #d0df8d;
}
.sent_messages--delete--btn:hover {
    border-bottom: 1px solid crimson;
}
.sent_messages--pagination1 {
    background: #DEECA1 !important;
    border: 1px solid #DEECA1 !important;
    color: black;
}
.sent_messages--pagination2 {
    background: white !important;
    border: 1px solid #DEECA1 !important;
    color: black;
}