.sent_messages--title {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.sent_messages--btn {
    box-sizing: border-box;
    /* border: 1px solid; */
    border: none;
    background: #f4ead5;
    border-radius: 5px;
    padding: 3px 10px;
}
.sent_messages--btn:hover {
    background: #f5e6c5;
}
.sent_messages--delete--btn:hover {
    border-bottom: 2px solid crimson;
}
.sent_messages--pagination1 {
    background: #f4ead5 !important;
    border: 1px solid #f4ead5 !important;
    color: black !important;
}
.sent_messages--pagination2 {
    background: white !important;
    border: 1px solid #f4ead5 !important;
    color: black;
}