{% extends 'base.html' %}
{% load static %}
{% block title %}로그인 - {% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock head %}  


{% block aside %}
<article class="main--title--wrap font--gangwon">
  <h1 class="main--title"><span class="main--title--icon"><i class="bi bi-door-open"></i></span>로그인</h1>
  <h2>오늘, 이음에 대한 설명을 적어주세요.</h2>
</article>
{% endblock aside %}

{% block content %}
  <article class="login--container">
    <div class="login--wrap">
      <form class="login--form" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating">
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">Username</label>
        </div>
        <div class="form-floating">
          {{ form.password }}
          <label for="{{ form.password.id_for_label }}">Password</label>
        </div>
        <input type="submit" value="로그인" class="login--btn">
      </form>
  
      <div>
        <a class="signup-btn" href="{% url 'accounts:signup' %}">회원가입</a>
      </div>
    </div>
  </article>
  <div>
    {% include "accounts/email_error.html" %}
  </div>
  
{% endblock content %}

{% block script %}{% endblock script %}