{% extends 'base.html' %}
{% load static %}
{% load posts.custom_tags %}

{% block title %}{{ person.username }}님의 프로필 - {% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock head %}

{% block aside %}
<article class="main--title--wrap">
  <section class="profile--img--box">
    <p><img class="profile--img" src={% if person.image %} "{{ person.image.url }}" {% else %} "{% static 'accounts/image/ieum_noprofile_02.png' %}" {% endif %} alt="프로필사진"></p>
  </section>
  <section>
    <h2 class="font--gangwon main--title"> {{ person.username }} 님의 프로필페이지</h2>
    <div>
      {% if request.user.is_authenticated and request.user.username == username %}
        {% if person.taste == "T" %}
          <p>{{ person.username }}님은 "현실 이음"과 연결되어 있습니다.</p>
        {% elif person.taste == "F" %}
          <p>{{ person.username }}님은 "공감 이음"과 연결되어 있습니다.</p>
        {% else %}
          <p><a href="{% url 'balances:detail' 1 %}" class="profile--balance--button">밸런스게임 하러가기!</a></p>
        {% endif %}
      {% else %}
        {% if person.taste == "T" %}
          <p>{{ person.username }}님은 "현실 이음"과 연결되어 있습니다.</p>
        {% elif person.taste == "F" %}
          <p>{{ person.username }}님은 "공감 이음"과 연결되어 있습니다.</p>
        {% else %}
          <p>밸런스 게임을 하지 않으셨습니다.</p>
        {% endif %}
      {% endif %}
    </div>
      {% if user.reported == True %}
        <div class="profile--report--move--button--wrap">
          <a class="profile--report--move--button" href="#profile--report--move">신고된 게시물 확인하러가기</a>
        </div>
      {% endif %}
    <div>{% comment %} 유저 간 거리 {% endcomment %}
      <article>
        {% if person == user  %}
        {% else %}
          {% if person.privacy == 1 and user.privacy == 1 %}
            <p class="">당신과의 거리 : <strong>{{ distance|floatformat:1 }} km</strong></p>
          {% else %}
            <p class="">거리 비공개</p>
          {% endif %}
        {% endif %}
      </article>
    </div>
  </section>
</article>
<article class="profile--list--wrap">
  <ul class="profile--list">
    <li class="profile--menu">
      <p class="profile--menu--title">팔로잉</p>
      <div class="profile--menu--content">
        <a href="#" id="followings-count" data-bs-toggle="modal" data-bs-target="#followingModal">{{ person.followings.all|length }}</a>
      </div>
    </li>
    <li class="profile--menu">
      <p class="profile--menu--title">팔로워</p>
      <div class="profile--menu--content">
        <a href="#" id="followers-count" data-bs-toggle="modal" data-bs-target="#followerModal">{{ person.followers.all|length }}</a>
      </div>
    </li>
    <li class="profile--menu">
      <p class="profile--menu--title">피드</p>
      <div class="profile--menu--content">
        <a href="#" id="posts-count" data-bs-toggle="modal" data-bs-target="#postsModal">{{ post_count }}</a>
      </div>
    </li>
    <li class="profile--menu">
      {% if request.user.is_authenticated and request.user.username == username %}
        <div class="profile--message--wrap">
          <a href="{% url 'my_messages:received_messages' %}" class="">
            메세지함
          </a>
          <div class="profile--user--message">
            {% if request.user.is_authenticated %}
              {% get_unread_messages_count user as unread_messages_count %}
              {% if unread_messages_count > 0 %}
                <a href="{% url 'my_messages:received_messages' %}" class="message--alarm">새 메세지가 <span style="color: red;">{{ unread_messages_count }}</span>건 있습니다.</a>
              {% endif %}
            {% endif %} 
          </div>
        </div>
      {% elif request.user.is_authenticated and request.user.username != username %}
        <a href="{% url 'my_messages:compose_message_to_user' person.username %}" class="">
          메시지 보내기
        </a>
        <div class="profile--user--message">
      {% endif %}
    </li>
    <li class="profile--menu">
      {% if request.user.is_authenticated and request.user.username == username %}
        <a href="{% url 'accounts:update' %}" class="">회원정보 수정</a>
      {% else %}
        <!-- 팔로잉 & 팔로우 버튼 -->
        <div class="">
          {% if not user.is_authenticated %}
            <div><input type="submit" value="Follow" disabled="disabled"></div>
          {% elif request.user != person %}
            <div>
              <form id='follow-form' data-user-id="{{ person.pk }}" class="">
                {% csrf_token %}
                {% if request.user in person.followers.all %}
                  <input id="followinput" type="submit" value="팔로위 취소" class="profile--follow--btn">
                {% else %}
                  <input id="followinput" type="submit" value="팔로우" class="profile--follow--btn">
                {% endif %}
              </form>
            </div>
          {% endif %}
        </div>
      {% endif %}</li>
    <li class="profile--menu">
      {% if request.user.is_authenticated and request.user.username == username %}
        <div>
          <a href="{% url 'accounts:logout' %}">로그아웃</a>
        </div>
      {% else %}
          <a href="{% url 'accounts:logout' %}">로그아웃</a>
      {% endif %}
    </li>
  </ul>
</article>
{% endblock aside %}

{% block content %}
<article>  
{% if not user.is_superuser %}
  <div class="profile--container">
    {% comment %} 사진 유저간 거리 팔로우 프로필음악포 춘쿠키 {% endcomment %}

    <!-- 포춘쿠키 메세지 -->
    <section class="profile--fortune--container">
      {% if request.user == person %}
        <div class="fortune--container" title="하루한번 포춘쿠키!">
          <div class="fortune--wrap">
            <img src="{% static 'accounts/image/fortune.png' %}" style="width: 130px;" alt="Fortune Cookie Image">
            {% if fortunes.date == fortune_today %}
              <div class="fortune--content--open">
                <p id="fortunes--sentence" class="fortune--message">{{ fortunes.message }}</p>
              </div>
            {% else %}
              <div class="fortune--content">
                <form action="{% url 'posts:fortune_cookie' %}" method="post" style="text-align:center;">
                  {% csrf_token %}
                  <button type="submit" class="fortune--button">포춘쿠키 열어보기</button>
                </form>
                <span style="text-align:center;"></span>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="fortune--info-">하루에 한 번, 포춘쿠키를 열어보세요!</div>
      {% endif %}
    </section>
    
    <!-- 프로필 음악 -->
    <section class="profile--music--box">
      {% if request.user == person %}
        <div class="profile--music--setting--wrap">
          <button type="button" class="profile--music--setting1" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-play-circle" style="font-size: 1.2rem; color:rgb(115 115 115);"></i>
            <span class="text-to-change">프로필 음악 선택</span>
          </button>
        </div>
      {% else %}
        <div class="">
          <button type="button" class="profile--music--setting2" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>
            <i class="bi bi-play-circle" style="font-size: 1.2rem;"></i>
            <span class="text-to-change">프로필 음악 선택</span>
          </button>
        </div>
      {% endif %}
      {% if not music %}
        <div class="text-center mb-3 profile--music--text">프로필 음악을 선택해 주세요.</div>
      {% else %}
        {% for track in music %}
          <div id="track-{{ forloop.counter }}" class="profile--music--track">
            <div class="profile--music--img">
              <img class="profile--music--album--img" src="{{ track.image.url }}" alt="{{ track.album.name }}">
            </div>
            <div class="profile--music--state">
              <span class="profile--music--album">{{ track.album }}</span>
              <div class="profile--music--btn--wrap">
                <a href="#" class="play-track-profile profile--music--btn1" data-src="{{ track.preview_url }}">재생</a>
                {% if request.user == person %}
                  <a href="{% url 'accounts:delete_track' track.pk %}" class="profile--music--btn2">삭제</a>
                {% else %}
                  <a href="{% url 'accounts:delete_track' track.pk %}" class="profile--music--btn2__1">삭제</a>
                {% endif %}
              </div>
              <div id="audio-player-container" class="audio-player-container1">
                <audio class="main-audio" style="width:100%; height:45px;" controls>
                  <source src="" type="audio/mp3">
                </audio>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <!-- 음악 앨범 사진 클릭 시, 오디오 플레이어 보이게 적용 -->
      {% if music %}
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const audioPlayerContainer = document.getElementById("audio-player-container");
            audioPlayerContainer.style.display = "block";
          });
        </script>
      {% endif %}
    </section>

    <!-- 취향 문장 -->
    <section class="profile--sentence---container">
      <h5 class="profile--sectence--title">{{ person.username }}님의 문장</h5>
      <ul class="profile--sectence--list">
        {% for introduction in introductions_list %}
          <li id="sentence" class="profile--user--sectence">{{ introduction }}</li>
        {% endfor %}
      </ul>
    </section>


    <!-- 워드 표시 -->
    <section class="profile--word--list--wrap">
      <h5 class="profile--word--title">{{ person.username }}님의 단어</h5>
      <ul class="profile--word--list">
        {% for word in word_list %}
          <li class="profile--word"># {{ word }}</li>
        {% endfor %}
      </ul>
      {% if request.user == person %}
        <!-- 밸런스 게임 워드 모달 버튼 -->
        <div class="profile--balance--word">
          <button type="button" class="profile--word--btn" data-bs-toggle="modal" data-bs-target="#wordModal">
            {{user.username}}님의 단어를 선택하세요!
          </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="wordModal" tabindex="-1" aria-labelledby="wordModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="wordModalLabel">단어로 '나'를 표현해 보세요!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'accounts:word_create' %}" method="POST" >
                  {% csrf_token %}
                  {{word_form.as_p}}
                  <div class="profile--word--submit--wrap">
                    <input type="submit" value="제출" class="profile--word--submit--btn">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </section>
    
    <!-- 내가쓴 게시물 표시 -->
    <section class="profile--posts--wrap">
      <h5 class="profile--report--title"><i class="bi bi-file-earmark-text"></i> 작성한 게시물</h5>
      <div class="profile--text--list--wrap" id="my-posts">
        {% for post in posts %}
          <div class="profile--text--list">
            <a class="profile--post--wrap" href="{% url 'posts:detail' post.pk %}">
              <span class="">{{ post.pk }}</span>
              <span class="">{{ post.title }}</span>
              <!-- 반응형 -->
              <div class="profile--post--nothing"></div>
              <span class="profile--post--time">{{ post.created_at }}</span>
            </a>
          </div>
        {% empty %}
        <div class="profile--text--list">
            <p>게시물이 없습니다.</p>
        </div>
        {% endfor %}
      </div>
      <button id="load-more-my-posts" class="load-more-button">더보기</button>
    </section>
  
    <!-- 좋아요한 게시물 표시 -->
    <section class="profile--posts--wrap">
      <h5 class="profile--report--title"><i class="bi bi-heart" style="color: crimson;"></i> 좋아요한 게시물</h5>
      <div class="profile--text--list--wrap" id="liked-posts">
        {% for liked_post in liked_posts %}
        <div class="profile--text--list">
          <a class="profile--post--wrap" href="{% url 'posts:detail' liked_post.pk %}">
            <span>{{ liked_post.pk }}</span>
            <span>{{ liked_post.title }}</span>
            <!-- 반응형 -->
            <div class="profile--post--nothing"></div>
            <span class="profile--post--time">{{ liked_post.created_at }}</span>
          </a>
        </div>
        {% empty %}
          <div class="profile--text--list">
              <p>좋아요한 게시물이 없습니다.</p>
          </div>
        {% endfor %}
      </div>
      <button id="load-more-liked-posts" class="load-more-button">더보기</button>
    </section>

{% endif %}
    <div id="profile--report--move"></div>
      <!-- 신고 당한 게시물 (신고 당한 게시물이 있는 경우만 표시)-->
    {% if my_post_reports.exists or request.user.is_superuser %}
      <div class="profile--report--container">
        <section class="profile--posts--wrap">
          <h5 class="profile--report--title"><i class="bi bi-bell" style="color: crimson;"></i> 신고 당한 게시물들</h5>
          <div class="profile--text--list--wrap">
            {% for post_report in post_reports %}
              <!-- 로그인한 유저와 다른 유저가 신고 대상과 동일하다면 신고 당한 게시물이 보여짐-->
              {% if request.user == person and person == post_report.post.user %}
                <ul class="profile--text--list">
                  <li class="profile--text"><span class="profile--text--title">신고자</span>{{ post_report.user }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고게시물 제목</span>{{ post_report.post.title }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고내용</span>{{ post_report.content }}</li>
                  <li class="profile--text"><span class="profile--text--title">선택된 사유</span>{{ post_report.title }}</li>
                  <li class="profile--text"><span class="profile--text--title">작성일</span>{{ post_report.created_at|date:"Y. m. d" }}</li>
                  <li class="profile--report--check--wrap"><a href="{% url 'posts:detail' post_report.post_id %}" class="profile--report--check--btn">확인하기 ></a></li>
                </ul>
              <!-- 로그인한 유저가 관리자라면 전체 신고 당한 게시물이 보여짐-->
              {% elif request.user.is_superuser %}
                <ul class="profile--text--list">
                  <li class="profile--text"><span class="profile--text--title">신고자</span>{{ post_report.user }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고대상</span>{{ post_report.post.user }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고게시물 제목</span>{{ post_report.post.title }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고내용</span>{{ post_report.content }}</li>
                  <li class="profile--text"><span class="profile--text--title">선택된 사유</span>{{ post_report.title }}</li>
                  <li class="profile--text"><span class="profile--text--title">신고일</span>{{ post_report.created_at|date:"Y. m. d" }}</li>
                  <li class="profile--report--check--wrap"><a href="{% url 'posts:detail' post_report.post_id %}" class="profile--report--check--btn">확인하기 ></a></li>
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    {% endif %}

    <!-- 신고 당한 댓글 (신고 당한 댓글이 있는 경우만 표시)-->
    {% if my_comment_reports.exists or request.user.is_superuser %}
      <section class="profile--posts--wrap">
        <h5 class="profile--report--title"><i class="bi bi-bell" style="color: crimson;"></i> 신고 당한 댓글들</h5>
    
        <div class="profile--text--list--wrap">
          {% for comment_report in comment_reports %}
            <!-- 로그인한 유저와 다른 유저가 신고 대상과 동일하다면 신고 당한 댓글이 보여짐-->
            {% if request.user == person and person == comment_report.comment.user %}
              <ul class="profile--text--list">
                <li class="profile--text"><span class="profile--text--title">신고자</span>{{comment_report.user}}</li>
                <li class="profile--text"><span class="profile--text--title">신고댓글을 적은 게시물제목</span>{{ comment_report.comment.post.title }}</li>
                <li class="profile--text"><span class="profile--text--title">신고내용</span>{{ comment_report.content }}</li>
                <li class="profile--text"><span class="profile--text--title">선택된 사유</span>{{ comment_report.title }}</li>
                <li class="profile--text"><span class="profile--text--title">신고일</span>{{ comment_report.created_at|date:"Y. m. d" }}</li>
                <li class="profile--report--check--wrap"><a href="{% url 'posts:detail' comment_report.comment.post_id %}" class="profile--report--check--btn">확인하기 ></a></li>
              </ul>
            <!-- 로그인한 유저가 관리자라면 전체 신고 당한 댓글이 보여짐-->
            {% elif request.user.is_superuser %}
              <ul class="profile--text--list">
                <li class="profile--text"><span class="profile--text--title">신고자</span>{{comment_report.user}}</li>
                <li class="profile--text"><span class="profile--text--title">신고대상</span>{{ comment_report.comment.user }}</li>
                <li class="profile--text"><span class="profile--text--title">신고댓글을 적은 게시물제목</span>{{ comment_report.comment.post.title }}</li>
                <li class="profile--text"><span class="profile--text--title">신고내용</span>{{ comment_report.content }}</li>
                <li class="profile--text"><span class="profile--text--title">선택된 사유</span>{{ comment_report.title }}</li>
                <li class="profile--text"><span class="profile--text--title">신고일</span>{{ comment_report.created_at|date:"Y. m. d" }}</li>
                <li class="profile--report--check--wrap"><a href="{% url 'posts:detail' comment_report.comment.post_id %}" class="profile--report--check--btn">확인하기 ></a></li>
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endif %}


  </div>


  <!-- 팔로워 모달 -->
  <div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="followerModalLabel" style="">팔로워</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile--modal--body--wrap" style="background-color: whitesmoke;">
          <ul id="followers-list" class="mt-2 modal_list d-flex">
            {% for follower in person.followers.all %}
              <a href="{% url 'accounts:profile' follower %}" class="modal_list_item follower-item profile--modal--follow--list">
                <div class="profile--follow--img--box">
                  {% if follower.image %}
                    <img src="{{ follower.image.url }}" class="profile--follow--img profile--follow--img--modal" alt="프로필 사진">
                  {% else %}
                    <img src="{% static 'accounts/image/user_image.png' %}" class="profile--follow--img profile--follow--img--modal" alt="기본 프로필 사진">
                  {% endif %}
                </div>
                <li><span>{{ follower }}</span></li>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- 팔로잉 모달 -->
  <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="followingModalLabel" style="">팔로잉</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile--modal--body--wrap" style="background-color: whitesmoke;">
          <ul class="modal_list d-flex mt-2" style="display: flex;">
            {% for following in person.followings.all %}
              <a href="{% url 'accounts:profile' following %}" class="modal_list_item profile--modal--follow--list">
                <div class="profile--follow--img--box">
                  {% if following.image %}
                    <img src="{{ following.image.url }}" class="profile--follow--img profile--follow--img--modal" alt="프로필 사진">
                  {% else %}
                    <img src="{% static 'accounts/image/user_image.png' %}" class="profile--follow--img profile--follow--img--modal" alt="기본 프로필 사진">
                  {% endif %}
                </div>
                <li><span>{{ following }}</span></li>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- 피드 모달 -->
  <div class="modal fade" id="postsModal" tabindex="-1" aria-labelledby="postsModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="postsModalLabel" style="">피드</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile--modal--body--wrap" style="background-color: whitesmoke;">
          <ul class="modal_list ms-3" style="list-style-type: decimal;">
            <div>
              {% if request.user == person %}
                {% for post in user.post_set.all %}
                  <a href="{% url 'posts:detail' post.pk %}">
                    <li>
                      {{ post.title }}
                    </li>
                  </a>
                {% endfor %}
              {% else %}
                {% for post in person.post_set.all %}
                  <a href="{% url 'posts:detail' post.pk %}">
                    <li>
                      {{ post.title }}
                    </li>
                  </a>
                {% endfor %}
              {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- 프로필 음악 모달 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">프로필 음악</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile--music--result">
          <form id="search-form" class="d-flex mb-3">
            <input id="search-input" class="form-control me-3" type="text" name="q" placeholder="검색어를 입력하세요" style="width:300px;">
            <button id="search-button" class="profile--music--search--btn" type="submit">검색</button>
          </form>
          <div id="search-results" class="mb-3">
          </div>
          <audio class ='d-none' id="audio-player" controls>
            <source src="" type="audio/mp3">
          </audio>
        </div>
        <div class="modal-footer">
          <div id="error-message" style="color: red;"></div>
          <div style="margin-right:120px;">하나 이상의 음원을 선택해야 합니다.</div>
          <button type="button" class="profile--music--close--btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</article>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'accounts/js/profile_music_ajax.js' %}"></script>
<script src="{% static 'accounts/js/profile_music_modal.js' %}"></script>
<script src="{% static 'accounts/js/profile_music_main.js' %}"></script>
<script>  
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
  form.addEventListener('submit', function (event) {
    event.preventDefault();
    const userId = event.target.dataset.userId;
  
    axios({
      method: 'post',
      url: `/accounts/follow/${userId}/`,
      headers: { 'X-CSRFToken': csrftoken },
    })
      .then((response) => {
        const isFollowed = response.data.is_followed;
        const followInput = document.querySelector('#followinput');
        console.log(response)
        if (isFollowed === true) {
          followInput.value = '팔로우 취소';
        } else {
          followInput.value = '팔로우';
        }
  
        const followerCountTag = document.querySelector('#followers-count');
        const followerList = document.querySelector('#followers-list');
        followerCountTag.textContent = response.data.followers_count;
  
        // Clear existing follower list
        followerList.innerHTML = '';
  
        // Append each follower to the follower list
        response.data.followers_list.forEach((follower) => {
          const followerLink = document.createElement('a')
          followerLink.classList.add("modal_list_item", "follower-item")
          followerLink.href = `/accounts/profile/${follower.username}`
          const followerDiv = document.createElement('div')
          followerDiv.classList.add("profile--follow--img--box")
          if (follower.image) {
            const followerImage = document.createElement('img')
            followerImage.classList.add("profile--follow--img", "profile--follow--img--modal")
            followerImage.src = follower.image
            followerImage.alt = `${follower.username}'s profile image`
            followerDiv.appendChild(followerImage)
          } else {
            const followerImage = document.createElement('img')
            followerImage.classList.add("profile--follow--img", "profile--follow--img--modal")
            followerImage.src = "/static/accounts/image/user_image.png"
            followerImage.alt = "기본 프로필 사진"
            followerDiv.appendChild(followerImage)
          }
          followerLink.appendChild(followerDiv)
  
          const listItem = document.createElement('li')
          const followerSpan = document.createElement('span')
          followerSpan.textContent = follower.username;
          listItem.appendChild(followerLink);
          listItem.appendChild(followerSpan);
          followerList.appendChild(listItem);
        })
      })
  })

</script>
{% endblock content %}
{% block script %}
  <script>
    document.querySelector(".profile--music--btn2__1").removeAttribute('href');
  </script>

  <script>
    function updateButtonText() {
      const button = document.querySelector('.profile--music--setting1');
      const textElement = button.querySelector('.text-to-change');
      const iconElement = button.querySelector('i');
      console.log(iconElement)

      if (window.innerWidth <= 950) {
        textElement.style.display = 'none';
        iconElement.style.display = 'inline';
      } else {
        textElement.style.display = 'inline';
        iconElement.style.display = 'none';
      }
    }

    window.addEventListener('resize', updateButtonText);
    window.addEventListener('DOMContentLoaded', updateButtonText);
  </script>


  <script>
    // 프로필 음악 반응형
    const profileBox = document.querySelector('.profile--music--img');
    const profileBox2 = document.querySelector('.profile--music--state');

    profileBox.addEventListener('click', () => {
      const computedStyle = getComputedStyle(profileBox2);
      if (computedStyle.display === 'none') {
        profileBox2.style.display = 'block';
      } else {
        profileBox2.style.display = 'none';
      }
    });
  </script>

  <script>
    // 게시물 더보기 버튼
    document.addEventListener("DOMContentLoaded", function() {
      const loadMoreMyPostsButton = document.getElementById("load-more-my-posts");
      const loadMoreLikedPostsButton = document.getElementById("load-more-liked-posts");
      const postList = document.getElementById("my-posts");
      const likePostList = document.getElementById("liked-posts");
      const initialRowCount = 5;
      console.log(postList.children)
      console.log(likePostList.children)

      let rowCount = postList.children.length;
      let likeRowCount = likePostList.children.length;

      let hiddenRows = Array.from(postList.children).slice(initialRowCount);
      console.log(hiddenRows)
      let likeHiddenRows = Array.from(likePostList.children).slice(initialRowCount);
      console.log(likeHiddenRows)

      hiddenRows.forEach(function(row) {
        row.style.display = "none";
      });

      likeHiddenRows.forEach(function(row) {
        row.style.display = "none";
      });

      // 내가 쓴 게시물
      loadMoreMyPostsButton.addEventListener("click", function() {
        hiddenRows.slice(0, initialRowCount).forEach(function(row) {
          row.style.display = "block";
        });

        hiddenRows = hiddenRows.slice(initialRowCount);
        rowCount = postList.children.length;

        if (hiddenRows.length === 0) {
          loadMoreMyPostsButton.style.display = "none";
        }
      });

      // 좋아요한 게시물
      loadMoreLikedPostsButton.addEventListener("click", function() {
        likeHiddenRows.slice(0, initialRowCount).forEach(function(row) {
          row.style.display = "block";
        });

        likeHiddenRows = likeHiddenRows.slice(initialRowCount);
        likeRowCount = likePostList.children.length;

        if (likeHiddenRows.length === 0) {
          loadMoreLikedPostsButton.style.display = "none";
        }
      });

      if (likeRowCount > initialRowCount) {
        loadMoreLikedPostsButton.style.display = "block";
      }
    });
  </script>
  
{% endblock script %}