{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/update.css' %}">
{% endblock head %}
{% block title %}회원정보 수정 - {% endblock title %}

{% block aside %}
  <article class="main--title--wrap font--gangwon">
    <h1 class="main--title"><span class="main--title--icon"><i class="bi bi-person-fill-gear"></i></span> 회원정보수정</h1>
    <h2>오늘, 이음의 회원님에 대한 설명을 수정해 주세요.</h2>
  </article>
{% endblock aside %}

{% block content %}
  <article class="update--container" style="max-height: 500px;">
    <form class="update--form" action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="update--form--list">
        <div class="update--form1">
          <div class="update--menu">
            <p class="update--lable">이메일</p>
            <div class="create--content">
              {{ form.email }}
            </div>
          </div>
          <div class="update--menu">
            <p class="update--lable">이름</p>
            <div class="create--content">
              {{ form.first_name }}
            </div>
          </div>
          <div class="update--menu">
            <p class="update--lable">지역</p>
            <div class="create--content">
              {{ form.region }}
            </div>
          </div>
          <div class="update--menu">
            <p class="update--lable">지역 공개 여부</p>
            <div class="sign--region--wrap">
              <div style="padding: 6px 12px;">
                지역 공개
                {{ form.privacy }}
              </div>
            </div>
          </div>
          <div class="update--menu">
            <p class="update--lable">생일</p>
            <div class="create--content">
              {{ form.birthday }}
            </div>
          </div>
          <div class="update--menu">
            <p class="update--lable">프로필이미지</p>
            <div class="create--content" style="padding: 6px 12px;">
              {{ form.image }}
            </div>
          </div>
        </div>
        <div class="update--form2">
          <div class="update--introductions--list">
            <p class="update--lable introductions--lable">나를 표현하는 문장을 선택해 주세요.</p>
            <div class="update--introductions--content">
              {{ form.introductions }}
            </div>
          </div>
        </div>
      </div>
      <div class="update--wrap">
        <input class="update--input--button" type="submit" value="수정하기">
      </div>
    </form>
  </article>
{% endblock content %}

{% block script %}
{% endblock script %}