{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'my_messages/css/compose.css' %}">
{% endblock head %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h2 class="text-center">쪽지 보내기</h2>
      <form method="post" class="" style="width: 400px;">
        {% csrf_token %}
        <div class="mt-3">
          <p>보낼 사람 : </p>
          {{ form.receiver }}
        </div>
        <div class="mt-3">
          <p>내용 : </p>
          {{ form.content }}
        </div>
        <div class="mt-3">
          <button type="submit" class="compose--btn1">보내기</button>
          <a href="{% url 'my_messages:received_messages' %}" class="compose--btn2">받은 쪽지함으로 돌아가기</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
