{% extends 'base.html' %}

{% block content %}
  <h2>받은 쪽지함</h2>
  {% if received_messages %}
    <ul>
      {% for message in received_messages %}
        <li>
          <a href="{% url 'my_messages:view_message' message.id %}">{{ message.sender }} - {{ message.timestamp }}</a>
          {% if not message.is_read %}
            - <a href="{% url 'my_messages:mark_as_read' message.id %}">수신 확인</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>받은 쪽지함에 메시지가 없습니다.</p>
  {% endif %}

  <h2>보낸 쪽지함</h2>
  {% if sent_messages %}
    <ul>
      {% for message in sent_messages %}
        <li>
          <a href="{% url 'my_messages:view_message' message.id %}">{{ message.receiver }} - {{ message.timestamp }}</a>
          {% if not message.receiver.is_read %}
            - <a href="{% url 'my_messages:delete_message' message.id %}">삭제</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>보낸 쪽지함에 메시지가 없습니다.</p>
  {% endif %}
{% endblock %}
