{% extends 'base.html' %}

{% block content %}
  <h2>받은 쪽지함</h2>
  {% if received_messages %}
    <ul>
      {% for message in received_messages %}
        <li>
          <a href="{% url 'my_messages:view_message' message.id %}">{{ message.sender }} - {{ message.timestamp }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>받은 쪽지함에 메시지가 없습니다.</p>
  {% endif %}
  
  <a href="{% url 'my_messages:compose_message' %}">쪽지 보내기</a>
  <a href="{% url 'my_messages:sent_messages' %}">보낸 쪽지함으로 가기</a>
{% endblock %}
