{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'my_messages/css/view.css' %}">
{% endblock head %}
{% block content %}
  <div class="view--wrap">
    <div id="view--content--wrap1" class="d-flex flex-column me-5" style="width: 500px;">
      <h3 class="view--title">받은 쪽지 확인하기</h3>
      <div class="view--header">
        <p class="mt-2">
          보낸 사람 : <strong>{{ message.sender }}</strong> / 
          받는 사람 : <strong>{{ message.receiver }}</strong>
        </p>
        <a href="{% url 'my_messages:delete_message' message.id %}" class="mt-2" onclick="return confirm('삭제하시겠습니까?')"><i class="bi bi-trash3" style="color: crimson; font-size:1.2rem;"></i></a>
      </div>
      <i class="view--time">{{ message.timestamp|date:'Y년 n월 d일 A g:i' }}</i>
      <p class="view--content--box">{{ message.content|linebreaksbr }}</p>
      <div class="view--btn--wrap">
        <a href="{% url 'my_messages:received_messages' %}" class="view--btn1">수신 쪽지함으로 돌아가기</a>
      </div>
    </div>
    <div id="view--content--wrap2">
      <h3 class="view--title">답장하기</h3>
      <ul>
        <li class="view--aTag--wrap">
          <a href="{% url 'my_messages:sent_messages' %}" class="view--aTag">송신 쪽지함</a>
        </li>
      </ul>
      <form method="post" class="" style="width: 400px;">
        {% csrf_token %}
        <div class="view--form--wrap">
          <p>보낼 사람 : <strong>{{ message.sender }}</strong></p>
          {% comment %} <div class='d-none'>{{ form.receiver }}</div> {% endcomment %}
        </div>
        <div class="mt-2">
          <p>내용 : </p>
          <div class="view--reply--content--box">
            {{ form.content }}
          </div>
        </div>
        <div class="view--btn--wrap">
          <button type="submit" class="view--btn2">보내기</button>
        </div>
      </form>
    </div>
  </div>

  <script>
  </script>
{% endblock %}
