{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'my_messages/css/sent_messages.css' %}">
{% endblock head %}
{% block content %}
  <div class="sent_messages--title">
    <h2><i class="bi bi-mailbox" style="color: #ddd0b3;"></i> 보낸 쪽지함</h2>
    <div class="d-flex align-items-center">
      <a href="{% url 'my_messages:received_messages' %}" class="sent_messages--btn">받은 쪽지함</a>
    </div>
  </div>
  <table class="table table-hover mt-5">
    <thead style="text-align: center;">
      <tr>
        <th scope="col">받은이</th>
        <th scope="col">보낸 시간</th>
        <th scope="col">확인 여부</th>
      </tr>
    </thead>
    <tbody>
      {% if sent_messages %}
        {% for message in sent_messages %}
          <tr>
            <td style="text-align: center;  width: 200px;">
              <a href="{% url 'my_messages:view_message' message.id %}?param=2">{{ message.receiver }}</a>
            </td>
            <td style="text-align: center;  width: 200px;">
              <a href="{% url 'my_messages:view_message' message.id %}?param=2">{{ message.timestamp|date:'Y년 n월 d일 A g:i' }}</a>
            </td>
            <td style="text-align: center;  width: 200px;">
              {% if message.is_read %}
                읽음
              {% else %}
                {% if not message.is_read %}
                  <a href="{% url 'my_messages:delete_message' message.id %}?param=2" class="sent_messages--delete--btn">전송 취소</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <p>보낸 쪽지함에 메시지가 없습니다.</p>
      {% endif %}
    </tbody>
  </table>
  
  <!-- 페이지네이션 -->
  <ul class="pagination justify-content-center" style="margin: 30px 0;">
    {% if sent_messages.has_previous %}
      <li class="page-item">
        <a class="page-link" style="color: black;" href="?page=1">처음으로</a>
      </li>
      <li class="page-item">
        <a class="page-link" style="color: black;" href="?page={{ sent_messages.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% for page_number in sent_messages.paginator.page_range %}
      {% if page_number >= sent_messages.number|add:-5 and page_number <= sent_messages.number|add:5 %}
        {% if page_number == sent_messages.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link sent_messages--pagination1" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link sent_messages--pagination2" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sent_messages.has_next %}
      <li class="page-item">
        <a class="page-link" style="color: black;" href="?page={{ sent_messages.next_page_number }}">다음</a>
      </li>
      <li class="page-item">
        <a class="page-link" style="color: black;" href="?page={{ sent_messages.paginator.num_pages }}">마지막으로</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
