
.question--title--wrap {
  display: flex;
  justify-content: center;
}
.question--title {
  display: inline;
  border-radius: 50px;
  background-color: #eee;
  padding: 0.5rem 2rem;
}
.question--container{
}
.balances--question--wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
}
.balances--question--a {
  background-color: #FFEEEE;
  border: 10px solid lightcoral;
}
.balances--question--b {
  background-color: rgb(219, 245, 255);
  border: 10px solid lightseagreen;
}
.balances--question--a, .balances--question--b {
  height: 100%;
  padding: 0.5rem 3rem 2rem;
}
.question--a--title {
  color: lightcoral;
}
.question--b--title {
  color: lightseagreen;
}
.question--a--title, .question--b--title {
  text-align: center;
  font-size: 5rem;
}
.question--vs--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.question--image--wrap {
  position: relative;
}
.question--a--img, .question--b--img {
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
}
.question--a--img {
  /* border: 10px solid lightcoral; */
}
.question--b--img {
  /* border: 10px solid lightseagreen; */
}

.question--submit--wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center; */
}
.question--a--btn, .question--b--btn {
  width: 100%;
  height: 100%;
  border: none;
  padding: 4px 12px;
  background-color: transparent;
}
.question--a--btn:hover {
  background-color: rgba(240, 128, 128, 0.424);
}
.question--b--btn:hover {
  background-color: rgba(32, 178, 171, 0.457);
}
.question--content {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 10px;
  
}
.question--statusbar--wrap {
  text-align: center;
}


@media (max-width: 1024px) {
  
}