.anonymous--pagination1 {
    background: #DEECA1 !important;
    border: 1px solid #DEECA1 !important;
    color: black;
}
.anonymous--pagination2 {
    background: white !important;
    border: 1px solid #DEECA1 !important;
    color: black;
}