.create--content {
    border-bottom: 1px solid #d0df8d;
}
.create--music--search--wrap {
    display: flex;
    margin-bottom: 10px;
}
.create--music--search--box {
    max-width: 300px;
}
.create--music--search--btn {
    padding: 1px 6px;
    background: #DEECA1;
    border-radius: 5px;
    margin-left: 10px;
}
.create--music--search--btn:hover {
    background-color: #d0df8d;
}
.create--music--result {
    max-width: 600px;
    max-height: calc(100vh - 400px);
    overflow-x: hidden;
    overflow-y: auto;
}
.create--music--result::-webkit-scrollbar {
    width: 4px;
}
.create--music--result::-webkit-scrollbar-thumb {
    height: 30%;
    background: #DEECA1;
    border-radius: 10px;
}
.create--music--result::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}
.create--btn1 {
    padding: 1px 6px;
    background: #DEECA1;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 35px;
}
.create--btn2 {
    padding: 1px 6px;
    background: #DEECA1;
    border-radius: 5px;
    margin-left: 40px;
    width: 400px;
    height: 35px;
}
.create--btn1:hover, .create--btn2:hover {
    background-color: #d0df8d;
}