
#detail--main--box {
}
#header {

}
#music-track {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.detail--container {
}
.detail--wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.detail--header {
  border-top: 1px solid #cc7f3b;
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
}
.detail--header--titile--wrap {
  display: grid;
  grid-template-columns: 1fr 12px;
}
.detail--title {
  margin-bottom: 1rem;
}
.detail--header--info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color:#777; font-size:.9rem;
}
.detail--header--info--list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1.5rem;
}
.user--wrap {
  display: flex;
  align-items: flex-end;
}
.detail--user {
  margin-left: 3px;
}
.detail--like--form {
  display: flex;
}
.detail--content p img {
  display: none;
}
.detail--tag {
  box-sizing: border-box;
  background: #FFF6EA;
  padding: 3px 6px;
  border-radius: 20px;
}

.detail__map {
  border-radius: 10px;
}
.aside--music--wrap {
  position: fixed;
  top: 14%;
  right: 0;
  z-index: 9;
}
.detail--music--box {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  max-width: 350px;
}
.detail--music--playbtn {
  text-align: center;
  padding: 1px 6px;
  background: #FFF7D3;
  border-radius: 5px;
  max-width: 50px;
  height: 25px;
}
.detail--music--playbtn:hover {
  background-color: #ffe570;
}

/* comment */
.comments--container--list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0;
}
.comments--wrap {
  border-top: 2px solid #ccc;
}
/* create */
.comments--create--container {
  background-color: #f5f5f5;
  padding: 1.5rem 1rem;
}
.comment__create--list {
  display: grid;
  grid-template-columns: 1fr 60px;
  width: 100%;
  height: 50px;
}
.create--list__item1 {
  height: 100%;
}
.create--list__item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
} 
.comment__create--textarea--wrap textarea {
  max-height: 50px;
  width: 98%;
}
/* create end */

.comments--select--wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.comments__content--wrap {
  border-bottom: 1px solid #ccc;
  background-color: #FFF6EA;
  padding: 0.7rem 1rem;
  font-size: 15px;
}
.comment--info--wrap {
  display: flex;
  justify-content: space-between;
  color: #555;
  font-size: 13px;
  margin-bottom: 0.5rem;
}
.comment--info--list {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-end; */
  align-items: center;
  gap: 0.5rem;
  color: #555;
  font-size: 13px;
}

.comments__user--wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
} 

.comment--bell--wrap {
  display: flex;
  justify-items: flex-start;
}

.comments__btn--list2 {
  display: flex;
  gap: 0.5rem;
}
.more--btn--wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 0;
}
@media (max-width: 576px) {
  .comments__content--wrap {
    flex-direction: column;
  }

  .comments__btn--list1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .comments__btn--list2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
.create--list__item2 input {
  height: 100%;
  margin-left: 2px;
  left: -11px;
  position: relative;
}


.detail--image--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.post--img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

/* 이미지 모달 */

/* The Modal (background) */
.modal--wrap {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  z-index: 999;
}

/* Modal Content (Image) */
.modal--content {
  margin: auto;
  display: block;
  /* width: 80%; */
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

/* Add Animation - Zoom in the Modal */
.modal--content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.modal--close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal--close:hover,
.modal--close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .detail--header--info--list {
    
  }
}