{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'aboutus/css/aboutus.css' %}">
{% endblock head %}

{% block style %}
{% endblock style %}

{% block aside %}
<article class="aboutus__title--container">
  <h1>13조. 위즐 칙촉🍪</h1>
  <h3>kdt 2기</h3>
</article>
<article class="aboutus__member--container">
  <ul class="aboutus__member--list">
    <li><a href="#member1">장민지</a></li>
    <li><a href="#member2">박지현</a></li>
    <li><a href="#member3">김용진</a></li>
    <li><a href="#member4">안정환</a></li>
    <li><a href="#member5">정미영</a></li>
  </ul>
</article>
{% endblock aside %}


{% block content %}
<article >
  <section id="member1">
    <p>장민지</p>
    <ul>
      <li>별명 : 장뭉지</li>
      <li>MBTI : ISFJ</li>
      <li>KITSCH : <a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">GREEN</a></li>
      <li><a href="https://together.kakao.com/big-five/summary/2614602">빅5</a></li>
      <li><a href="https://github.com/mungjimangji">깃헙</a></li>
      <li>음악 추천 : 밤하늘에 별을</li>
      <li>취미 : 피아노, 기타, 유도, 태권도, 복싱 , 아이스크림 먹기 등</li>
      <li>명언 : 버스기사 없나요? 제가 그럼 운전하겠습니다.</li>
      <li>TMI : 칙촉조의 실세, 언어의 마술사 </li>
    </ul>
  </section>
  <section id="member2">
    <p>박지현</p>
    <ul>
        <li>별명 : 빵또아 </li>
        <li>MBTI : ISFP</li>
        <li>KITSCH : <a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">MINT</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/11797683">빅5</a></li>
        <li><a href="https://github.com/devtoJH">깃헙</a></li>
        <li>음악 추천 : 마법의 성</li>
        <li>취미 : 오버워치, 납땜, 태권도 등</li>
        <li>명언 : 인생 걱정 노노 </li>
        <li>TMI : 칙촉조의 귀염둥이 막내 </li>
    </ul>
  </section>
  <section id="member3">
    <p>김용진</p>
    <ul>
        <li>별명 : 진드래곤 </li>
        <li>MBTI : ISTP</li>
        <li>KITSCH : <a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">HOTPINK</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211109">빅5</a></li>
        <li><a href="https://github.com/Kurman11">깃헙</a></li>
        <li>음악 추천 : 와스레 나이 </li>
        <li>취미 : 위즐 칙촉 먹기, 축구, 유도, 태권도, 공연장 가기, 노래 부르기 등</li>
        <li>명언 : 위즐 칙촉이 가장 맛있다! </li>
        <li>TMI : 바지 조장 ( 뭉지님께 통제 당하는 중 ), 누나있음.  </li>
    </ul>
  </section>
  <section id="member4">
    <p>안정환</p>
    <ul>
        <li>별명 : 선비 </li>
        <li>MBTI : ISFJ</li>
        <li>KITSCH : <a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">PINK</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/5463293">빅5</a></li>
        <li><a href="https://github.com/skysky44">깃헙</a></li>
        <li>음악 추천 : 아이유 </li>
        <li>취미 : 아이유 공연장 가기, 태권도, 여자친구와 산책, 자전거 등</li>
        <li>명언 : 팔아야 되요. 팔 겁니다! </li>
        <li>TMI : 깃총괄, 국어선생님  </li>
    </ul>
  </section>
  <section id="member5">
    <p>정미영</p>
    <ul>
        <li>별명 : 미요미 </li>
        <li>MBTI : INTP</li>
        <li>KITSCH : <a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">BROWN</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211106">빅5</a></li>
        <li><a href="https://github.com/qloeo">깃헙</a></li>
        <li>음악 추천 : 오늘은 괜찮아 </li>
        <li>취미 : 캠핑, 태권도, 비즈공예, 베이킹 등</li>
        <li>명언 : 다들 사랑스럽습니다! </li>
        <li>TMI : 디스패치(사람들의 말을 귀담아 들어서?ㅋㅋㅋ)  </li>
    </ul>
  </section>
</article>
<article>
  <section>
      <h1 class="trophy--viewport"><span class="trophy--wheel"><i class="bi bi-trophy-fill"></i></span>명예 13조. 위즐 칙촉</h1>
  </section>
  <section class="plus--member--wrap1">
    <p><i class="bi bi-trophy-fill" style="color: goldenrod;"></i> 문지수</p>
    <ul>
        <li>2023년 6월 2일 채팅앱의 코드를 수정하는 데 도움을 주셔서 명예 13조의 자격을 부여받게 되었습니다. </li>
      <li><a href="#">빅5</a></li>
      <li><a href="#">깃헙</a></li>
      <li>TMI : 억압과 통제의 조장님</li>
    </ul>
  </section>
  <section class="plus--member--wrap2">
    <p><i class="bi bi-trophy-fill" style="color: goldenrod;"></i> 무연 강사님</p>
    <ul>
        <li>2023년 5월 30일, 6월 7일 칙촉 조의 코드, 디자인에 대한 조언과 칭찬을 아낌없이 주셔서 명예 13조의 자격을 부여받게 되었습니다.</li>
      <li><a href="#">빅5</a></li>
      <li><a href="#">깃헙</a></li>
      <li></li>
    </ul>
  </section>
</article>
{% endblock content %}

{% block script %}
<script>
</script>
{% endblock script %}