{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'aboutus/css/aboutus.css' %}">
{% endblock head %}

{% block style %}
{% endblock style %}

{% block aside %}
<article class="aboutus__title--container">
  <h1>13조. 위즐 칙촉🍪</h1>
  <h3>kdt 2기</h3>
</article>
<article class="aboutus__member--container">
  <ul id="member1" class="aboutus__member--list">
    <li><a href="#member1">장민지</a></li>
    <li><a href="#member2">박지현</a></li>
    <li><a href="#member3">김용진</a></li>
    <li><a href="#member4">안정환</a></li>
    <li><a href="#member5">정미영</a></li>
  </ul>
</article>
{% endblock aside %}


{% block content %}
<article class="chicchoc--wrap">
  <section class="member--wrap">
    <h5>🌹 장민지</h5>
    <ul>
      <li><span>담당업무</span>백엔드, 부조장 ( <em>조장을 통제하는 부조장</em> )</li>
      <li><span>별명</span>장뭉지</li>
      <li><span>MBTI</span>ISFJ</li>
      <li><span>KITSCH</span>GREEN<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span>43243, #심약함 #감정존중 #협조성 <a href="https://together.kakao.com/big-five/summary/2614602">결과보기 GO</a></li>
      <li><span>GITHUB</span>mungjimangji<a href="https://github.com/mungjimangji">구경하기 GO</a></li>
      <li><span>음악추천</span>밤하늘에 별을</li>
      <li><span>취미</span>피아노, 기타, 유도, 태권도, 복싱 , 아이스크림 먹기 등</li>
      <li><span>명언</span>버스기사 없나요? 제가 그럼 운전하겠습니다.</li>
      <li id="member2"><span>TMI</span><em>칙촉조의 실세</em>, 언어의 마술사, 뭉!뭉! 으르르르~뭉! </li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5>🌷 박지현</h5>
    <ul>
      <li><span>담당업무</span>프론트엔드, 깃 부총괄</li>
      <li><span>별명</span><em>져니</em></li>
      <li><span>MBTI</span>ISTP</li>
      <li><span>KITSCH</span>MINT<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span>34333, #책임감 #걱정 #계획성<a href="https://together.kakao.com/big-five/summary/11797683">결과보기 GO</a></li>
      <li><span>GITHUB</span>devtoJH<a href="https://github.com/devtoJH">구경하기 GO</a></li>
      <li><span>음악추천</span>마법의 성</li>
      <li><span>취미</span><em>오버워치</em>, 납땜, 태권도 등</li>
      <li><span>명언</span>인생 걱정 노노</li>
      <li id="member3"><span>TMI</span>무뚝뚝하지만 다정한 귀염둥이 막내 </li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5>🐲 김용진</h5>
    <ul>
      <li><span>담당업무</span>백엔드, 조장</li>
      <li><span>별명</span>사오정</li>
      <li><span>MBTI</span>ISTP</li>
      <li><span>KITSCH</span>HOTPINK<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span>34342, #신뢰 #신중함 <em>#성취욕</em><a href="https://together.kakao.com/big-five/summary/28211109">결과보기 GO</a></li>
      <li><span>GITHUB</span>Kurman11<a href="https://github.com/Kurman11">구경하기 GO</a></li>
      <li><span>음악추천</span>와스레 나이 </li>
      <li><span>취미</span><em>위즐 칙촉</em> 먹기, 축구, 유도, 태권도, 공연장 가기, 노래 부르기 등</li>
      <li><span>명언</span>위즐 칙촉이 가장 맛있다! </li>
      <li id="member4"><span>TMI</span>바지 조장 ( <em>뭉지님께 통제 당하는 중</em> ), 누나있음.  </li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5>🌻 안정환</h5>
    <ul>
      <li><span>담당업무</span>백엔드, 깃 총괄</li>
      <li><span>별명</span>선비 </li>
      <li><span>MBTI</span>ISFJ</li>
      <li><span>KITSCH</span>PINK<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span>35343, #강직함 <em>#성취욕</em> #협조성<a href="https://together.kakao.com/big-five/summary/5463293">결과보기 GO</a></li>
      <li><span>GITHUB</span>skysky44<a href="https://github.com/skysky44">구경하기 GO</a></li>
      <li><span>음악추천</span><em>아이유</em></li>
      <li><span>취미</span>아이유 공연장 가기, 태권도, 여자친구와 산책, 자전거 등</li>
      <li><span>명언</span>팔아야 되요. 팔 겁니다! </li>
      <li id="member5"><span>TMI</span>깃 총괄, <em>국어선생님</em>  </li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5>🌸 정미영</h5>
    <ul>
      <li><span>담당업무</span>프론트엔드, 디자인 총괄</li>
      <li><span>별명</span><em>미요미</em></li>
      <li><span>MBTI</span>INTP</li>
      <li><span>KITSCH</span>BROWN<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span><em>54444</em>, #예술적감수성 #상상력 #자신감<a href="https://together.kakao.com/big-five/summary/28211106">결과보기 GO</a></li>
      <li><span>GITHUB</span>qloeo<a href="https://github.com/qloeo">구경하기 GO</a></li>
      <li><span>음악추천</span>오늘은 괜찮아 </li>
      <li><span>취미</span>캠핑, 태권도, 비즈공예, 베이킹 등</li>
      <li><span>명언</span>다들 사랑스럽습니다! </li>
      <li><span>TMI</span>디스패치(사람들의 말을 귀담아 들어서?ㅋㅋㅋ)  </li>
    </ul>
  </section>
</article>
<article class="trophy--title--wrap">
    <h1 class="trophy--viewport"><span class="trophy--wheel"><i class="bi bi-trophy-fill"></i></span>명예 13조. 위즐 칙촉</h1>
</article>
<article class="chicchoc--wrap">
  <section class="member--wrap">
    <h5><i class="bi bi-trophy-fill" style="color: goldenrod;"></i>문지수</h5>
    <ul>
      <li>2023년 6월 2일 <em>채팅앱</em>의 코드를 수정하는 등 그 외 에러해결에 도움을 주셔서 명예 13조의 자격을 부여받게 되었습니다. </li>
      <li><span>KITSCH</span>GREEN, YELLOW<a href="https://goodjun29.com/키치-성격-테스트-mbti-kitsch-결과-총정리/">키치확인 GO</a></li>
      <li><span>BIG 5</span>44343, #가치진보성 #지적호기심 #상상력<a href="#">결과보기 GO</a></li>
      <li><span>GITHUB</span>JiSuMun<a href="https://github.com/JiSuMun">구경하기 GO</a></li>
      <li><span>TMI</span><em>억압과 통제</em>의 모태 조장님</li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5><i class="bi bi-trophy-fill" style="color: goldenrod;"></i> 무연 강사님</h5>
    <ul>
      <li>2023년 5월 30일, 6월 7일 칙촉 조의 <em>코드, 디자인에 대한 조언과 칭찬</em>을 아낌없이 주셔서 명예 13조의 자격을 부여받게 되었습니다.</li>
    </ul>
  </section>
  <section class="member--wrap">
    <h5><i class="bi bi-trophy-fill" style="color: goldenrod;"></i> 탁희 강사님</h5>
    <ul>
      <li>2023년 6월 14일, 칙촉 조의 이메일 인증에 대한 조언 그리고 <em>채팅방 이름이 한글로 생성되지 않는 문제</em>를 해결해 주셔서 명예 13조의 자격을 부여받게 되었습니다.  </li>
    </ul>
  </section>
</article>
{% endblock content %}

{% block script %}
<script>
</script>
{% endblock script %}