{% load static %}
{% load posts.custom_tags %}
<!DOCTYPE html>
{% comment %} {% load my_context_processors %}  {% endcomment %}
{% comment %} {% load base_extras %} {% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'base/image/ieum_favicon_05.png' %}">
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}오늘, 이음</title>
    <style>
    {% block style %}{% endblock style %}
    </style>
  </head>
  <body>
    <!-- navbar -->
    <header class="base--item">
      <div class="header--container">
        <div class="header--wrap">
          <div class="header--item1">
            <a href="{% url 'home' %}">
              <h1 class="font--gangwon" style="color:#482121;"><span style="color:#489F48;">♪</span>오늘, 이음</h1>
            </a>
          </div>
          <div class="header--item2">
          <!-- 공감 or 현실 -->
          <nav>
            <ul class="nav--list">
              <li class="nav--list--text {% if request.resolver_match.view_name == 'posts:index' %}nav__active{% endif %}">
                {% if request.user.is_authenticated %}
                  {% if user.taste == "F" %}
                    <a href="{% url 'posts:index' %}">
                      공감 이음
                    </a>
                  {% elif user.taste == "T" %} 
                    <a href="{% url 'posts:index' %}">
                      현실 이음
                    </a>
                  {% else %}
                    <a href="{% url 'accounts:balances' %}">
                      밸런스 게임을 해주세요!
                    </a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'accounts:login' %}">
                    로그인을 해주세요!
                  </a>
                {% endif %}
              </li>
              <li class="nav--list--text {% if request.resolver_match.view_name == 'paints:index' %}nav__active{% endif %}">
                <a href="{% url 'paints:index' %}">
                  그림 이음
                </a>
              </li>
              <li class="nav--list--text {% if request.resolver_match.view_name == 'posts:anonymous' %}nav__active{% endif %}">
                <a href="{% url 'posts:anonymous' %}">
                  고민 이음
                </a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav--list--text {% if request.resolver_match.view_name == 'accounts:profile' %}nav__active{% endif %}">
                <!-- 프로필페이지 -->
                <div>
                  <a href="{% url 'accounts:profile' user %}">내페이지</a>
                </div>
              </li>
              {% else %}
              <li class="nav--list--text">
                <!-- 로그인 -->
                <div>
                  <a href="{% url 'accounts:login' %}">로그인</a>
                </div>
              </li>
              {% endif %}
            </ul>
          </nav>

            {% if request.user.is_authenticated %}
              {% get_unread_messages_count user as unread_messages_count %}
              {% if unread_messages_count > 0 %}
                <a href="{% url 'my_messages:received_messages' %}" class="me-4">
                  <i class="bi bi-envelope text-danger" style="font-size: 1.8rem;"> {{ unread_messages_count }}</i>
                </a>
              {% endif %}
            {% endif %}
            <!-- 모바일 네비 토글키 -->
            <button id="navToggleButton" style="display:none;">
              <i class="bi bi-list" style="font-size:1.8rem;"></i>
            </button>
          </div>
          <div class="header--item3">
            <!-- 네 정환님 검색 하신다구요? 네 -->
            <!-- 검색 넣으실때 아래는 다지우고 넣으셔도 됩니다 정환님 데헷 -->
            <form method="GET" action="{% url 'posts:main_search' %}">
              <input class="form-control" type="text" name="query" value= "{{ query }}" placeholder="검색어를 입력하세요">
            </form>
            <!-- 여기까지에요 흐흐흐 -->
          </div>
        </div>
        <!-- 모바일 네비 토글 메뉴 -->
        <div id="navToggle" class="nav--hidden mobile__nav--container">
          <nav class="mobile__nav--wrap">
            <div class="mobile__nav--list--wrap">
              <ul class="mobile__nav--list">
                <li class="mobile__nav--list--text">
                  <a href="#">
                    공감 이음
                  </a>
                </li>
                <li class="mobile__nav--list--text">
                  <a href="#">
                    현실 이음
                  </a>
                </li>
                <li class="mobile__nav--list--text">
                  <a href="{% url 'posts:anonymous' %}">
                    익명 고민
                  </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="mobile__nav--list--text">
                  <!-- 로그아웃 -->
                  <div>
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                  </div>
                </li>
                <li class="mobile__nav--list--text">
                  <!-- 프로필페이지 -->
                  <div>
                    <a href="{% url 'accounts:profile' user %}">마이페이지</a>
                  </div>
                </li>
                {% else %}
                  <li class="mobile__nav--list--text">
                    <!-- 로그인 -->
                    <div>
                      <a href="{% url 'accounts:login' %}">로그인</a>
                    </div>
                  </li>
                  <li class="mobile__nav--list--text">
                    <!-- 회원가입 -->
                    <div>
                      <a href="{% url 'accounts:signup' %}">회원가입</a>
                    </div>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <aside class="base--item">
      {% block aside %}
      {% endblock aside %}
    </aside>
    <main class="base--item">
    {% block content %}
    {% endblock content %}
    </main>
    {% if user.reported == True %}
      <a href="{% url 'accounts:profile' user %}">
        <div class="nori--viewport">
          <div class="nori--wheel" style="height: 130px; width: 130px; background-color: rgb(252, 118, 118);">
            <div class="nori--item">
                <p style="color: white">당신의 게시물이</p>
                <p style="color: white">신고 되었습니다!</p>
            </div>
          </div>
        </div>
      </a>
    {% else %}
      <a href="#">
        <div class="nori--viewport">
          <div class="nori--wheel">
            <div class="nori--item">
                <p>떠든사람</p>
                <p>장민지</p>
            </div>
          </div>
        </div>
      </a>
    {% endif %}
    
    <!-- main 2-->
    <main>
      {% block main2 %}{% endblock main2 %}
    </main>
    <footer class="base--item footer--container">
      <div>
        <div class="footer--copyright--wrap">
          <i class="footer--copyright">copyrightⓒ 2023 All rights reserved by <a href="{% url 'aboutus' %}">위즐 칙촉🍪</a></i>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.getElementById('navToggleButton').addEventListener('click', function () {
      const nav = document.getElementById('navToggle');
      nav.classList.toggle('nav--hidden');
      });

    </script>
    {% block script %}{% endblock script %}
  </body>
</html>