{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock head %}

{% block style %}
{% endblock style %}

{% block aside %}
<article class="home__paints--container">
  <section class="home__paints--wrap">
    <article class="home__paints--list">
      <div class="paints__title--wrap">
        <h1 class="font--gangwon">그림 전시회</h1>
        <p>그림으로 이어지는 공간 <a class="home__etc--button" href="{% url 'paints:index' %}">더보기</a></p>
        <p>너의 그림이 궁금해 <a class="home__etc--button" href="{% url 'paints:create' %}">그리기</a></p>
      </div>
      <div id="viewport">
        <ul id="wheel">
          {% for paint in paints %}
            <li class="paint__image--wrap"><img class="paint__image" src="{{ paint.image.url }}" alt=""></li>
          {% endfor %}
        </ul>
      </div>
    </article>
    <article class="paints__list--wrap">
      <ul>
        <li></li>
      </ul>
    </article>
  </section>
</article>
{% endblock aside %}

{% block content %}
<article class="posts--container">
  <div class="posts--wrap">
    <section class="posts--article--container">
      <h1 class="font--gangwon posts--title">이 길을 따라, 공감 이음</h1>
      <ul class="posts--list">
        {% for post in category_class %}
          <li class="post--wrap">
            <div>
              {% if post.image_urls %}
                <img class="posts_image" src="{{ post.image_urls.0 }}" alt="">
              {% endif %}
            </div>
            <div class="post--text--list">
              <ul class="post--tag--list">
                {% for tag in post.tags.all %}
                  {% if forloop.counter <= 3 %}
                    <li class="post--tag">
                      ﹟{{ tag }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="post--title--wrap">
                <h4 class="post--title">{{ post.title|truncatechars:20|linebreaksbr }}</h4>
              </div>
              <div class="post--user--wrap">
                <p>{{ post.user }}</p>
                <p class="post--time"><i>{{ post.created_time }}</i></p>
              </div>
            </div>
            <!-- 카테고리 태그 -->

            <!--
            {% for post in category_class %}
              {% for img_url in post.image_urls %}
                <img class="posts_image" src="{{ img_url }}" alt="">
              {% endfor %}
            {% endfor %}
             -->
          </li>
        {% endfor %}
      </ul>
      <div class="posts--etc--wrap">
        <a class="home__etc--button" href="{% url 'posts:index' %}">더보기 ＞ </a>
      </div>
    </section>
    <section class="posts--article--container">
      <h1 class="font--gangwon posts--title">털어놔요, 고민 이음</h1>
      <ul class="posts--list">
        {% for post in category_anonymous %}
          <li class="post--wrap">
            <div>
              {% if post.image_urls %}
                <img class="posts_image" src="{{ post.image_urls.0 }}" alt="">
              {% endif %}
            </div>
            <div class="post--text--list">
              <ul class="post--tag--list">
                {% for tag in post.tags.all %}
                  {% if forloop.counter <= 3 %}
                    <li class="post--tag">
                      ﹟{{ tag }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <p class="post--title">{{ post.title|truncatechars:20|linebreaksbr }}</p>
              <div class="post--user--wrap">
                <p>{{ post.user }}</p>
                <p class="post--time"><i>{{ post.created_time }}</i></p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="posts--etc--wrap">
        <a class="home__etc--button" href="{% url 'posts:index' %}">더보기 ＞ </a>
      </div>
    </section>
  </div>
</article>


{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}
