aside.base--item {
  text-align: center;
  background-color: #E6F3E6;
}
.main--title--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding : 1.5rem 0;
  background-color: #E6F3E6;
}
.main--title {
  margin-bottom: 1rem;
}

/* profile aside */
.profile--container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.profile--list--wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". profile profile profile profile .";
  background-color: #fff;
}
.profile--list {
  grid-area: profile;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.profile--menu {
  display: flex;
  justify-content: center;
  border: 1px solid #a7eaa7;
  border-radius: 0 0 30px 30px;
  background-color: #e5ffe5;
  padding: 2px 0;
}
.profile--menu:hover {
  background-color: rgba(231, 255, 164, 0.847);
}
.profile--menu--title {
  margin-right: 5px;
}
.profile--menu--content {
  color: green;
}
.profile--message--wrap {
  position: relative;
  width: 100%;
}
.profile--user--message {
  position: absolute;
  top: 33px;
  width: 100%;
  font-size: 12px;

}

/* profile main */

.profile--fortune--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.fortune--info- {
  color: ;
  text-decoration: rgb(0, 210, 0) underline;
}
.profile--sentence--music--container {

}
.profile--img--box {
    width: 200px;
    height: 200px;
    border: 5px solid #E6F3E6;
    border-radius: 50px 50px 0 50px;
    background-color: #fff;
    overflow: hidden;
}
.profile--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.profile--balance--button {
  background-color: #E6F3E6;
}
.profile--info--wrap {
  display: flex;
}



#fortunes--sentence {
    text-align: center;
}
@media (max-width: 1030px) {

}
.profile--follow--btn {
    box-sizing: border-box;
    /* border: 1px solid; */
    border: none;
    background: transparent !important;
    padding: 0 !important;
}
.profile--follow--img--box {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 50%;
    overflow: hidden;
}
.profile--follow--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
/* 나의 단어*/
.profile--sentence---container, .profile--word--list--wrap, .profile--posts--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #fafafa;
  padding: 2rem 3rem;
}
.profile--sectence--list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile--user--sectence {
  border-top: 1px solid #a5e8a5;
  border-bottom: 1px solid #a5e8a5;
  background-color: #e5ffe5;
  padding: 2px 10px;
}
.profile--word--title {
  
}
.profile--word--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.profile--word {
    border: 1px solid #a5e8a5;
    background: #e5ffe5;
    border-radius: 5px;
    padding: 2px 5px;
}
/* 단어 선택 */
.profile--balance--word {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.profile--word--btn {
    box-sizing: border-box;
    border: none;
    border: 1px solid #67d367;
    background: #eee;
    border-radius: 5px;
    padding: 3px 10px;
}
.profile--word--btn:hover {
    border: 1px solid #ccc;
    background: rgba(231, 255, 164, 0.847);
}

.profile--word--submit--wrap {
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}
.profile--word--submit--btn {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.profile--word--submit--btn:hover {
    background: rgba(231, 255, 164, 0.847);
}
/* 신고 */
.profile--report--move--button--wrap {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.profile--report--move--button {
  color: crimson;
  font-size: 14px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #b3b3b378;
  padding: 0.3rem 0.3rem;
}
.profile--report--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile--text--list--wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0;
}
.profile--text--list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: #fefefe;
    padding: 1.5rem;
}
.profile--post--wrap {
    display: grid;
    grid-template-columns: 50px 1fr 200px;
}
.profile--text {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.profile--text--title {
}
.profile--report--check--wrap {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    background-color: #f9f9f9;
    padding: 2px 0;
}
.profile--report--check--btn {
    color: crimson;
}
.profile--report--check--btn:hover {
    text-decoration: crimson underline;
}




/* forturn cookie */

.fortune--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  /* background-color: #eee; */
  border: 3px double #ddd;
  border-radius: 50%;
}
.fortune--wrap {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 50%;

}
.fortune--content--open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fortune--message {
  width: 230px;
  font-size: 13.5px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 0.5rem 0.7rem;
}
.fortune--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fortune--button {
  width: 130px;
  font-size: 13px;
  border: 1px solid #ffd79f;
  background-color: #fff6eaa1;
  padding: 0.5rem 0.7rem;
}
.fortune--button:hover {
  background-color: #fff6ea74;
}

.profile--text--list.hidden {
  display: none;
}
.profile--post--nothting {
  display: none;
}
/* 반응형 */
@media (max-width: 950px) {
  /* 포춘쿠키 */
  .profile--fortune--container {
    margin-top: 3rem;
    flex-direction: column;
    text-align: center;
  }
  /* 작성한 게시물 */
  .profile--post--nothting {
    display: block;
  }
  .profile--post--wrap {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  .profile--post--time {
    /* display: none; */
    margin-top: 10px;
    color:#aaa;
    font-size: 0.8rem;
  }
}