aside.base--item {
  text-align: center;
  background-color: #d6dcf6;
}
.main--title--wrap {
  padding : 5rem 0;
}
.main--title {
  margin-bottom: 1rem;
}
.main--title--icon {
  color: #ACBCFF;
}

.signup--form {
  
}
.signup--form--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
}
.signup--form1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup--menu {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 1rem;
}
.signup--lable {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d6dcf6;
}
.signup--content--wrap {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-gap: 1rem;
}
.signup--content {
  /* width: 240px; */
  /* margin-right: 1rem; */
}
.sign--region--wrap {

}
.introductions--lable {
  padding: 10px 0;

}
.signup--introductions--content {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  max-height: 364px;
  overflow: auto;
}
.signup--introductions--content::-webkit-scrollbar {
  width: 6px;
}
.signup--introductions--content::-webkit-scrollbar-thumb {
  height: 30%;
  background: #cad4fc;
  border-radius: 10px;
}
.signup--introductions--content::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}
.signup--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign--double__check--button {
  border-radius: 5px;
  border: 1px solid #cad4fc;
  background-color: #cad4fc;
  padding: 0.2rem 0.4rem;
}
.sign--double__check--button:hover {
  background-color: #bbc9ff;
}
.signup--input--button {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ACBCFF;
  background-color: #ACBCFF;
  padding: 0.6rem 0;
}
.signup--input--button:hover {
  background-color: #cad4fc;
  
}