{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/class.css' %}">
  <link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'posts/css/anonymous.css' %}">
{% endblock head %}
{% block style %}
  .comments-hidden {
    display: none;
  }
{% endblock style %}

{% block aside %}
<article class="main--title--wrap">
  <h1 class="font--gangwon main--title"><span class="main--title--icon"><i class="bi bi-signal"></i></span> 고민 이음</h1>
  <p>비밀스런 공간에서 고민을 나누고, 소중한 위로를 서로에게 선물해봐요.</p>
</article>
<article class="aside--music--wrap">
  <div id="detail--music">
    {% if not music %}
    {% else %}
      <div class="detail--music--box">
        {% for track in music %}
          <div id="music-track">
            <img style="width:50px; border-radius: 5px;" src="{{ track.image.url }}" alt="{{ track.album.name }}">
            <span style="max-width:100%; word-wrap: break-word;">{{ track.album }}</span>
            <a href="#" class="play-music-profile detail--music--playbtn" data-src="{{ track.preview_url }}" >재생</a>
          </div>
        {% endfor %}
        <audio class="music-audio mt-3" style="width:100%; height:45px;" controls>
          <source src="" type="audio/mp3">
        </audio>
      </div>
    {% endif %}
  </div>
</article>
{% endblock aside %}


{% block content %}
  <article class="detail--container">   
    <section class="detail--wrap">
      <article id="header" class="detail--header">
        <div class="detail--header--titile--wrap">
          <h1 class="detail--title">{{ post.title }}</h1>
          <!-- 게시물 신고 모달 버튼 -->
          {% if post.user == request.user %}
          {% else %}
            <button type="button" class="detail--bell--wrap" data-bs-toggle="modal" data-bs-target="#PostReportModal">
              <i class="bi bi-bell-fill"></i>
            </button>
          {% endif %}
        </div>
        <div class="detail--header--info">
          <div class="detail--header--info--list">
            <div class="user--wrap">
              <img style="width:25px; height:25px; border-radius:50%;" src=
                {% if post.user.image %} "{% static 'accounts/image/ieum_noprofile_02.png' %}" 
                {% else %} "{% static 'accounts/image/ieum_noprofile_02.png' %}" 
                {% endif %} alt="프로필 사진" id="profile-image"/>
              <span class="detail--user">이음이</span>
            </div>
            <p class="">{{ post.created_at }}</p>
            {% if request.user == post.user %}
              <a href="{% url 'posts:anonymous_update' post.pk %}" class="">수정</a>
              <form action="{% url 'posts:anonymous_delete' post.pk %}">
                <input type="submit" value='삭제' style="color:#555;">
              </form>
            {% endif %}
            <!-- 게시글 신고, 좋아요 -->
            <div id="detail--like" class="detail--like--form">
              <form class="like-form" data-post-id="{{ post.pk }}">
                {% csrf_token %}
                {% if post.user == request.user %}
                  <i class="bi bi-suit-heart-fill"></i>
                {% else %}
                  {% if request.user in post.like_users.all %}
                  <button class="border-0 bg-transparent" type="submit" value="좋아요">
                    <i class="bi bi-suit-heart-fill"></i>
                  </button>
                  {% else %}
                    <button class="border-0 bg-transparent" type="submit" value="좋아요 취소">
                      <i class="bi bi-suit-heart"></i>
                    </button>
                  {% endif %}
                {% endif %} 
              </form>
              <span id="like-count"> {{post.like_users.count}}</span>
            </div>
          </div>
          <div>조회 {{ post.view_count }}</div>
        </div>
      </article>
      <article id="detail--main--box" style="">
        <div class="detail--content">{{ post.content|safe }}</div>
      </article>
      <article class="detail--image--wrap">
        {% for img_url in post.image_urls %}
          <img class="post--img" src="{{ img_url }}" alt="" onclick="openModal('{{ img_url }}')" id="img{{ forloop.index }}">
        {% endfor %}
        <!-- The Modal -->
        <div id="myModal" class="modal--wrap">
          <span class="modal--close" onclick="closeModal()">×</span>
            <img class="modal--content" style='width:640px; height:440px;' id="modalImg">
          <div id="caption"></div>
        </div>
      </article>
      {% if address %}
        <article class="detail--map">
          <div class="detail__map--wrap">
            <div id="map" style="width:400px; height: 400px;" class="detail__map"></div>
          </div>
        </article>
      {% else %}
      {% endif %}
      <article class="">
        {% for tag in tags %}
          <span class="detail--tag">#{{ tag }}</span>
        {% endfor %}
      </article>
      
      <!-- 게시물 신고 모달 -->
      <div class="modal fade" id="PostReportModal" tabindex="-1" aria-labelledby="PostReportModalLabel" aria-hidden="true" style="top: 15%;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="PostReportModalLabel">신고하기</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'posts:anonymous_post_report' post.pk %}"  method ='POST'>
                {% csrf_token %}
                {{ post_report_form }}
                <div class="modal-footer">
                  <button type="submit" class="comment--update--btn">신고하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 댓글 -->
    <section class="comments--container--list">
      {% comment %} 댓글생성 {% endcomment %}
      <article class="comments--create--container">
        <div class="comments__user--wrap">
          <img style="width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'accounts/image/ieum_noprofile_02.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
          <p class="detail--user">이음이</p>
        </div>
        <form id="comment-form" action="{% url 'posts:comment_create' post.pk %}" method='POST'>
          {% csrf_token %}
          <div class="comment__create--list">
            <div class="create--list__item1 comment__create--textarea--wrap ">{{ comment_form.content }}</div>
            <div class="create--list__item2">
              <input type="submit" class="ieum--button1" value='등록'>
            </div>
          </div>
        </form>
      </article>
      <article class="comments1--container">
        {% comment %} <p class="">인기</p> {% endcomment %}
        <div class="comments--wrap">
          {% comment %} 좋아요가 많은 상위 3개의 데이터 {% endcomment %}
          {% for comment_like in comment_likes %}
            <div class="comments__content--wrap">
              {% if comment_like.post.pk == post.pk %}
                <div class="comment--info--wrap">
                  <div class="comment--info--list">
                    <div class="comments__user--wrap">
                      <img style="width:25px; height:25px; border-radius:50%;" src={% static 'accounts/image/ieum_noprofile_02.png' %} alt="프로필 사진" id="profile-image"/>
                      {% if comment_like.user.username == post.user.username %}
                        <p class="detail--user">이음이(작성자)</p>
                      {% else %}
                        <p class="detail--user">이음이</p>
                      {% endif %}
                      <i class="bi bi-bookmark-heart-fill" style="color:crimson;"></i>
                    </div>
                    <p class="comment--date">{{ comment_like.created_time }}</p>
                    {% if comment_like.user.username == post.user.username %}
                      <button type="submit" data-bs-toggle="modal" data-bs-target="#edit-{{comment_like.pk}}">수정</button>
                      <form action="{% url 'posts:anonymous_comment_delete' post.pk comment_like.pk %}">
                        <input type="submit" value="삭제" style="color:#555;">
                      </form>
                    {% else %}
                    {% endif %}
                  </div>
                  <div>
                    {% if request.user == comment_like.user %}
                      <div class="comments__btn--list1">
                        <i class="bi bi-suit-heart-fill"></i> {{comment_like.like_users.count}}
                      </div>
                    {% else %}
                      <div class="">
                        <i class="bi bi-suit-heart-fill"></i> {{comment_like.like_users.count}}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <p class="">{{ comment_like.content|linebreaksbr }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </article>
      <article class="comments2--container">
        <div class="comments--select--wrap">
          <select id="comment-select" class="form-select" style="width:150px;">
            <option value="latest-comments">최신순</option>
            <option value="comments">처음부터</option>
          </select>
        </div>
  
        {% comment %} 최신 댓글 {% endcomment %}
        <section id="latest-comments-section" class="latest-comments-section">
          {% comment %} <h4 class="">최신순</h4> {% endcomment %}
          <div class="comments--wrap">
            {% for comment in comment_latest %}
              <div id="comment" class = "latest-comment">
                <div class="comments__content--wrap" style="background-color: transparent;">
                  {% if comment.user == request.user %}
                    <div class="comment--info--wrap">
                      <div class="comment--info--list">
                        <div class="comments__user--wrap">
                          <img style="width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{% static 'accounts/image/ieum_noprofile_02.png' %}{% else %}{% static 'accounts/image/ieum_noprofile_02.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                          <p class="detail--user">이음이(작성자)</p>
                        </div>
                        <p class="comment--date">{{ comment.created_time }}</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                        <form action="{% url 'posts:anonymous_comment_delete' post.pk comment.pk %}">
                          <input type="submit" value='삭제' class="ieum--button2" style="color:#555;">
                        </form>
                      </div>
                      <p>
                        <i class="bi bi-suit-heart-fill"></i>{{comment.like_users.count}}
                      </p>
                    </div>
                    <p>{{ comment.content|linebreaksbr }}</p>
                  {% else %}
                    <div class="comment--info--wrap">
                      <div class="comment--info--list">
                        <div class="comments__user--wrap">
                          <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{% static 'accounts/image/ieum_noprofile_02.png' %}{% else %}{% static 'accounts/image/ieum_noprofile_02.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                          <p class="detail--user">이음이</p>
                        </div>
                        <p class="comment--date">{{ comment.created_time }}</p>
                      </div>
                      <div class="comments__btn--list2">
                        <form id="comment-like-form-{{ comment.pk }}" data-post-id="{{post.pk}}" data-comment-id="{{comment.pk}}" class="l_form comment--like--form">
                          {% csrf_token %}
                          <button id="comment-heart" class="comment-like-button" type="submit" >
                            {% if request.user in comment.like_users.all %}
                            <i class="bi bi-suit-heart-fill"></i>
                            {% else %}
                            <i class="bi bi-suit-heart"></i>
                            {% endif %}
                          </button>
                          <span id="comment-like-count" class="comment--like--count">{{ comment.like_users.count }}</span>
                        </form>
                        <!-- 댓글 신고 모달 버튼 -->
                          <button type="button" class="comments__btn--list comment--bell--wrap" data-bs-toggle="modal" data-bs-target="#CommentReportModal-{{comment.pk}}">
                            <i class="bi bi-bell-fill"></i>
                          </button>
                      </div>
                    </div>
                    <p class="">{{ comment.content|linebreaksbr }}</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div id="latest-load-more-btn" class="">
              <div class="more--btn--wrap">
                <button class="load-more-comments btn" type="button">더보기<i class="bi bi-caret-down-fill"></i></button>
              </div>
            </div>
          </div>
        </section>
  
        {% comment %} 오래된 댓글 {% endcomment %}
        <section id="comments-section" class="comments-hidden">
          {% comment %} <h4 class="">처음부터</h4> {% endcomment %}
          <div class="comments--wrap">
            {% for comment in comments %}
              <div class="comment old-comment">
                <div class="comments__content--wrap" style="background-color: transparent;">
                  {% if comment.user == request.user %}
                    <div class="comment--info--wrap">
                      <div class="comment--info--list">
                        <div class="comments__user--wrap">
                          <img style="width:25px; height:25px; border-radius:50%;" src={% static 'accounts/image/ieum_noprofile_02.png' %} alt="프로필 사진" id="profile-image"/>
                          <p class="detail--user">이음이(작성자)</p>
                        </div>
                        <p class="comment--date">{{ comment.created_time }}</p>
                        <button type="submit" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                        <form action="{% url 'posts:anonymous_comment_delete' post.pk comment.pk %}">
                          <input type="submit" value='삭제' class="ieum--button2" style="color:#555;">
                        </form>
                      </div>
                      <p style="">
                        <i class="bi bi-suit-heart-fill comment--like--count "></i>{{comment.like_users.count}}
                      </p>
                    </div>
                    <p class="">{{ comment.content|linebreaksbr }}</p>
                  {% else %}
                  <div class="comment--info--wrap">
                    <div class="comment--info--list">
                      <div class="comments__user--wrap">
                        <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% static 'accounts/image/ieum_noprofile_02.png' %} alt="프로필 사진" id="profile-image"/>
                        <p class="detail--user">이음이</p>
                      </div>
                      <p class="comment--date">{{ comment.created_time }}</p>
                      </div>
                      <div class="comments__btn--list2">
                        <form id="comment-like-o-form-{{ comment.pk }}" data-post-id="{{post.pk}}" data-comment-id="{{comment.pk}}" class="o_form comment--like--form">
                          {% csrf_token %}
                          <button id="comment-heart-2" class="comment-like-button" type="submit" >
                            {% if request.user in comment.like_users.all %}
                              <i class="bi bi-suit-heart-fill"></i>
                            {% else %}
                              <i class="bi bi-suit-heart"></i>
                            {% endif %}
                          </button>
                          <span id="comment-like-count-2" class="comment--like--count">{{ comment.like_users.count }}</span>
                        </form>    
                        {% comment %} 댓글 신고 모달 버튼 {% endcomment %}
                        <button type="button" class="comments__btn--list comment--bell--wrap" data-bs-toggle="modal" data-bs-target="#CommentReportModal-{{comment.pk}}">
                          <i class="bi bi-bell-fill"></i>
                        </button>
                      </div>
                    </div>
                    <p class="">{{ comment.content|linebreaksbr }}</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div id="old-load-more-btn">
              <div class="more--btn--wrap">
                <button class="load-more-comments" type="button">더보기<i class="bi bi-caret-down-fill"></i></button>
              </div>
            </div>
          </div>
        </section>
      </article>

      {% comment %} 댓글 수정 모달 {% endcomment %}
      {% for comment, u_comment_form in comment_forms %}
        {% comment %} 최신, 오래된 댓글 신고 모달 {% endcomment %}
        <div class="modal fade" id="edit-{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="top:30%;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ariㄹa-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'posts:anonymous_comment_update' post.pk comment.pk %}" method ='POST' enctype="multipart/form-data">
                  {% csrf_token %}
                  {{u_comment_form}}
                  <div class="modal-footer">
                    <button type="submit" class="comment--update--btn">수정하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% comment %} 댓글 신고 모달 {% endcomment %}
        <div class="modal fade" id="CommentReportModal-{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CommentReportModalLabel-{{comment.pk}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="CommentReportModalLabel-{{comment.pk}}">댓글 신고</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'posts:anonymous_comment_report' post.pk comment.pk %}"  method ='POST'>
                  {% csrf_token %}
                  {{ comment_report_form }}
                  <div class="modal-footer">
                    <button type="submit" class="comment--update--btn">신고하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </article>
  


      <div class='d-flex justify-content-between mt-5'>
        <div>
            {% if previous_post %}
                <!-- Display previous button linking to the previous post -->
                <a href="{% url 'posts:anonymous_detail' post_pk=previous_post.pk %}">이전 게시글</a>
            {% endif %}
        </div>
        <div>
            {% if next_post %}
                <!-- Display next button linking to the next post -->
                <a href="{% url 'posts:anonymous_detail' post_pk=next_post.pk %}">다음 게시글</a>
            {% endif %}
        </div>
      </div>
  </section>

<input type="hidden" id="kakao_map_address" value="{{address}}">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3acf611a56d6b43dcc75b2331aac5490&libraries=services"></script>
{% comment %} <script src="{% static 'posts/js/detail_map.js' %}"></script> {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'posts/js/detail_music.js' %}"></script>
{% comment %} <script src="{% static 'posts/js/detail_ajax.js' %}"></script> {% endcomment %}
<script src="{% static 'posts/js/detail_more.js' %}"></script>
<script src="{% static 'posts/js/detail_comment_create_ajax.js' %}"></script>
<script src="{% static 'posts/js/detail_likes_ajax.js' %}"></script>
<script src="{% static 'posts/js/detail_comment_likes_ajax.js' %}"></script>
<script>
  const mapAddress = document.getElementById('kakao_map_address').value
  console.log(mapAddress)
    if( mapAddress !== ""){
      
      var mapContainer = document.getElementById('map'); // div to display the map
      var mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // coordinates of the center of the map
        level: 3 // zoom level of the map
      };
      
      // create the map
      var map = new kakao.maps.Map(mapContainer, mapOption);
      
      // create an address-to-coordinate conversion object
      var geocoder = new kakao.maps.services.Geocoder();
      
      // retrieve coordinates by address
      geocoder.addressSearch("{{ post.address }}", function(result, status) {
        // if the search was successful
        if (status === kakao.maps.services.Status.OK) {
          
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
      
          // Mark the position received as a result with a marker
          var marker = new kakao.maps.Marker({
            map: map,
            position: coords
          });
      
          // Retrieve the place_name from the database
          var placeName = "{{ post.place_name }}";
      
          // Display the place_name in the infowindow
          var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + placeName + '</div>'
          });
          infowindow.open(map, marker);
    
          // Move the center of the map to the location received as the result
          map.setCenter(coords);
        }
      });
    }
 
  var modal = document.getElementById("myModal");
  console.log(modal);
  if(modal) {
  
  var modalImg = document.getElementById("modalImg");
  var captionText = document.getElementById("caption");

  function openModal(imgUrl) {
    var imgIndex = event.target.id.replace("img", "");
    modal.style.display = "block";
    modalImg.src = imgUrl;
  }

  function closeModal() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      closeModal();
    }
  };
  }  function closeModal() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      closeModal();
    }
  };

</script>
{% endblock content %}