{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/anonymous.css' %}">
  <link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
{% endblock head %}

{% block aside %}
<article class="main--title--wrap">
  <h1 class="main--title">고민 이음</h1>
  <p>비밀스런 공간에서 고민을 나누고, 소중한 위로를 서로에게 선물해봐요.</p>
</article>
{% endblock aside %}

{% block style %}
  .comments-hidden {
    display: none;
  }
{% endblock style %}
{% block content %}
  <article class="detail--container">   
    <section class="detail--wrap">
      <div>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            {% for tag in tags %}
              <span class="detail--tag me-2 mb-3">#{{ tag }}</span>
            {% endfor %}
          </div>

          <div id="detail--like" class="d-flex">
            <form action="{% url 'posts:anonymous_likes' post.pk %}" method ='POST'>
              {% csrf_token %}
              {% if request.user in post.like_users.all %}
                <button class="border-0 bg-transparent" type="submit" value="좋아요">
                  <i class="bi bi-hand-thumbs-up text-primary" style="font-size:1.5rem;"></i>
                </button>
              {% else %}
                  <button class="border-0 bg-transparent" type="submit" value="좋아요 취소">
                    <i class="bi bi-hand-thumbs-up text-secondary" style="font-size:1.5rem;"></i>
                  </button>
              {% endif %}
            </form>
            <span class="ms-1" style="font-size:1.5rem;">{{post.like_users.count}}</span>
          </div>
        </div>
        <div id="header" class="mb-1">
          <div>
            <h1>{{ post.title }}</h1>
            <!-- 게시물 신고 모달 버튼 -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PostReportModal">
              신고
            </button>
            <!-- 게시물 신고 모달 -->
            <div class="modal fade" id="PostReportModal" tabindex="-1" aria-labelledby="PostReportModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="PostReportModalLabel">신고하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'posts:post_report' post.pk %}"  method ='POST'>
                      {% csrf_token %}
                      {{ post_report_form }}
                      <input type="submit" value="신고하기">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <i class="mt-1" style="color:#bdbdbd; font-size:.8rem;">{{ post.created_at }}</i>
            </div>
            <p><strong>익명</strong></p>
          </div>
          <div id="detail--music">
            {% if not music %}
            {% else %}
              <div class="detail--music--box">
                {% for track in music %}
                  <div id="music-track">
                    <img style="width:50px; border-radius: 5px;" src="{{ track.image.url }}" alt="{{ track.album.name }}">
                    <span style="max-width:100%; word-wrap: break-word;">{{ track.album }}</span>
                    <a href="#" class="play-music-profile detail--music--playbtn" data-src="{{ track.preview_url }}" >재생</a>
                  </div>
                {% endfor %}
                <audio class="music-audio mt-3" style="width:100%; height:45px;" controls>
                  <source src="" type="audio/mp3">
                </audio>
              </div>
            {% endif %}
          </div>
        </div>
        <ul>
          <div id="detail--main--box">
            <div class="detail--content">
              <li class="mb-3 mt-3 me-3 detail--content--box">
                <div class="detail--content">{{ post.content|safe }}</div>
              </li>
            </div>
            <div class="detail--map">
              <li class="detail__map--wrap mb-3 mt-3">
                <div id="map" style="width:auto;height:300px;" class="detail__map"></div>
              </li>
            </div>
          </div>
          <li class="d-flex mt-3 mb-3">
            <div style="display:flex; align-self:center;">
              <button class="me-2">
                <a href="{% url 'posts:anonymous_update' post.pk %}" class="ieum--button--nobgc1">수정</a>
              </button>
              </div>
              <form action="{% url 'posts:anonymous_delete' post.pk %}" style="display:flex; align-self:center;">
                <input type="submit" value='삭제' class="ieum--button--nobgc2">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="comments--wrap">
      <ul>
        <li>
          {% comment %} 좋아요가 많은 상위 3개의 데이터 {% endcomment %}
          {% for comment_like in comment_likes %}
            {% if comment_like.post.pk == post.pk %}
            <div>
              <div class="comments__user--wrap">
                <p class="fw-bold">익명</p>
                <i class="comment--date">{{ comment_like.created_time }}</i>
              </div>
              <p>{{ comment_like.content }}</p>
            </div>
            {% endif %}
          {% endfor %}

          <select id="comment-select">
            <option value="latest-comments">최신 댓글</option>
            <option value="comments">오래된 댓글</option>
          </select>
          
        {% comment %} 최신 댓글 {% endcomment %}
        <div id="latest-comments-section" class="latest-comments-section">
          {% for comment in comment_latest %}
            <div id="comment" class = "latest-comment">
              {% if comment.user == request.user %}
                <div class="comments__content--wrap">
                  <div>
                    <div class="comments__user--wrap">
                      <p class="fw-bold">익명</p>
                      <i class="comment--date">{{ comment.created_time }}</i>
                    </div>
                    <p>{{ comment.content }}</p>
                  </div>
                  <div class="comments__btn--list">
                    <div class="me-2" style="display:flex; align-self:center;">
                      <div class="ieum--button1">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                      </div>
                    </div>
                    <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" style="display:flex; align-self:center;">
                      <input type="submit" value='삭제' class="ieum--button2">
                    </form>
                    <span class="ms-1">❤️{{comment.like_users.count}}</span>
                    <!-- Button trigger modal -->
                  </div>
                </div>
              {% else %}
                <div class="comments__user--wrap">
                  <p class="fw-bold">익명</p>
                  <i class="comment--date">{{ comment.created_time }}</i>
                </div>
                <p>{{ comment.content }}</p>
                <div class =' d-flex'>
                  <form action="{% url 'posts:comment_likes' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    {% if request.user in comment.like_users.all %}
                      <button class="border-0 bg-transparent" type="submit">
                        ❤️
                      </button>
                    {% else %}
                      <button class="border-0 bg-transparent" type="submit">
                        🤍
                      </button>
                    {% endif %}
                  </form>
                  <span class="ms-1">{{comment.like_users.count}}</span>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div id="latest-load-more-btn">
            <button class="load-more-comments" type="button">더보기</button>
          </div>
        </div>
          
        {% comment %} 오래된 댓글 {% endcomment %}
        <div id="comments-section" class="comments-hidden">
          {% for comment in comments %}
            <div class="comment old-comment">
              {% if comment.user == request.user %}
                <div class="comments__content--wrap">
                  <div>
                    <div class="comments__user--wrap">
                      <p class="fw-bold">익명</p>
                      <i class="comment--date">{{ comment.created_time }}</i>
                    </div>
                    <p>{{ comment.content }}</p>
                  </div>
                  <div class="comments__btn--list">
                    <div class="me-2" style="display:flex; align-self:center;">
                      <div class="ieum--button1">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                      </div>
                    </div>
                    <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" style="display:flex; align-self:center;">
                      <input type="submit" value='삭제' class="ieum--button2">
                    </form>
                    <span class="ms-1">❤️{{comment.like_users.count}}</span>
                    <!-- Button trigger modal -->
                  </div>
                </div>
              {% else %}
                <div class="comments__user--wrap">
                  <p class="fw-bold">익명</p>
                  <i class="comment--date">{{ comment.created_time }}</i>
                </div>
                <p>{{ comment.content }}</p>
                <div class =' d-flex'>
                  <form action="{% url 'posts:comment_likes' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    {% if request.user in comment.like_users.all %}
                      <button class="border-0 bg-transparent" type="submit">
                        ❤️
                      </button>
                    {% else %}
                      <button class="border-0 bg-transparent" type="submit">
                        🤍
                      </button>
                    {% endif %}
                  </form>
                  <span class="ms-1">{{comment.like_users.count}}</span>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div id="old-load-more-btn">
            <button class="load-more-comments" type="button">더보기</button>
          </div>
        </div>
          {% for comment, u_comment_form in comment_forms %}
            {% if comment.user == request.user %}
              <div class="comments__content--wrap">
                <div>
                  <div class="comments__user--wrap">
                    {% if comment.user.username == post.user.username %}
                      <p>익명(글쓴이): {{ comment.content|linebreaksbr }}</p>
                    {% else %}
                      <p>익명 : {{ comment.content|linebreaksbr }}</p>
                    {% endif %}
                    <i class="comment--date">{{ comment.created_time }}</i>
                  </div>
                </div>
                <div class="comments__btn--list">
                  <div class="me-2" style="display:flex; align-self:center;">
                    <div class="ieum--button1">
                      <a type="submit" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</a>
                    </div>
                  </div>
                  <form action="{% url 'posts:anonymous_comment_delete' post.pk comment.pk %}" style="display:flex; align-self:center;">
                    <input type="submit" value='삭제' class="ieum--button2">
                  </form>
                  <!-- 댓글 신고 모달 버튼 -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CommentReportModal-{{comment.pk}}">
                    신고
                  </button>
                  <!-- 댓글 신고 모달 -->
                  <div class="modal fade" id="CommentReportModal-{{comment.pk}}" tabindex="-1" aria-labelledby="CommentReportModalLabel-{{comment.pk}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="CommentReportModalLabel-{{comment.pk}}">신고하기</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="{% url 'posts:comment_report' post.pk comment.pk %}"  method ='POST'>
                            {% csrf_token %}
                            {{ comment_report_form }}
                            <input type="submit" value="신고하기">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Modal -->
                <div class="modal fade" id="edit-{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">익명 댓글 수정</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'posts:anonymous_comment_update' post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          {{u_comment_form.as_p}}<!-- 수정 내용을 입력하는 필드 -->
                          <div class="modal-footer">
                            <button type="submit" class="comment--update--btn">수정하기</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </li>
        <li>
          <form action="{% url 'posts:anonymous_comment_create' post.pk %}" method='POST'>
            {% csrf_token %}
            <div class="comment__create--list">
              <div class="create--list__item1 comment__create--textarea--wrap">{{ comment_form.content }}</div>
              <div class="create--list__item2">
                <input type="submit" class="ieum--button1" value='등록'>
              </div>
            </div>
          </form>
        </li>
      </ul>
  </section>




<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3acf611a56d6b43dcc75b2331aac5490&libraries=services"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'posts/js/detail_music.js' %}"></script>
<script src="{% static 'posts/js/detail_more.js' %}"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch( "{{ post.address }}", function(result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">만나고 싶은 곳</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    

</script>
{% endblock content %}