{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/create.css' %}">
{% endblock head %}
{% block style %}
.detail--music--playbtn {
  text-align: center;
  padding: 1px 6px;
  background: #FFF7D3;
  border-radius: 5px;
  max-width: 50px;
  height: 25px;
}
{% endblock style %}

{% block content %}
  <div class="container" style="width:835px;">
    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="mb-3">
        <strong>분류 : </strong>
        <div class="create--content">
          {{ form.category }}
        </div>
      </div>
      <div class="mb-3">
        <strong>제목 : </strong>
        <div class="create--content">
          {{ form.title }}
        </div>
      </div>
      {% comment %}
      <div>
        {{ image_form }}
      </div>
      {% endcomment %}
      <div class="mb-3">
        <strong>주소 : </strong>
        <div class="create--content">
          {{ form.address }}
        </div>
      </div>
      <div class="mb-3">
        <strong>태그 : </strong>
        <div class="create--content">
          {{ form.tags }}
        </div>
      </div>
      <div class="mb-3"> 
        <strong>내용 : </strong>
        <div>
          {{ form.content }}
        </div>
      </div>

      <!-- 음악 -->
      <div>
        <div class="create--music--search--wrap">
          <input id="search-input" class="form-control create--music--search--box" type="text" name="q" placeholder="노래 제목을 입력하세요">
          <button id="search-button" class="create--music--search--btn" type="button">검색</button>
        </div>

        <div id="search-results" class="create--music--result">
          {% include 'posts/search_results.html' %}
        </div>

        <audio class="main-audio mt-3" controls>
          <source src="" type="audio/mp3">
        </audio>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <a href="{% url 'posts:index' %}" class="create--btn1">취소</a>
        <button class="create--btn2" type="submit">등록</button>
      </div>
    </form>
  </div>


  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'posts/js/create_music_ajax.js' %}"></script>
{% endblock content %}