{% extends 'base.html' %}
{% load static %}

{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'base/css/reset.css' %}"> -->
  <link rel="stylesheet" href="{% static 'posts/css/class.css' %}">
  <link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
{% endblock head %}
{% block style %}
  .comments-hidden {
    display: none;
  }
{% endblock style %}

{% block aside %}
<article class="main--title--wrap">
  <h1 class="font--gangwon main--title"><span class="main--title--icon"><i class="bi bi-balloon-heart-fill"></i></span> 공감 이음</h1>
  <p>소통과 만남을 통해 새로운 인연을 맺어보세요. 분명 그곳에는 특별한 행운과 기적이 기다리고 있을 거예요.</p>
</article>
{% endblock aside %}

{% block content %}
  <article class="detail--container">   
    <section class="detail--wrap">
      <div>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            {% for tag in tags %}
              <span class="detail--tag me-2 mb-3">#{{ tag }}</span>
            {% endfor %}
          </div>
          <div id="detail--like" class="d-flex" style="align-items: baseline;">
            <!-- 게시물 신고 모달 버튼 -->
            <button type="button" class="me-3" data-bs-toggle="modal" data-bs-target="#PostReportModal">
              <i class="bi bi-bell" style="color:crimson; font-size:1.5rem;"></i>
            </button>
            <form class="like-form" data-post-id="{{ post.pk }}">
              {% csrf_token %}
              {% if request.user in post.like_users.all %}
                <button class="border-0 bg-transparent" type="submit" value="좋아요">
                  <i class="bi bi-hand-thumbs-up text-primary" style="font-size:1.5rem;"></i>
                </button>
              {% else %}
                  <button class="border-0 bg-transparent" type="submit" value="좋아요 취소">
                    <i class="bi bi-hand-thumbs-up text-secondary" style="font-size:1.5rem;"></i>
                  </button>
              {% endif %}
            </form>
            <span id="like-count" class="ms-1" style="font-size:1.5rem;">{{post.like_users.count}}</span>
          </div>
        </div>
        <div id="header" class="mb-1">
          <div class="">
            <h1>{{ post.title }}</h1>
            <!-- 게시물 신고 모달 -->
            <div class="modal fade" id="PostReportModal" tabindex="-1" aria-labelledby="PostReportModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="PostReportModalLabel">신고하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'posts:post_report' post.pk %}"  method ='POST'>
                      {% csrf_token %}
                      {{ post_report_form }}
                      <div class="modal-footer">
                        <button type="submit" class="comment--update--btn">신고하기</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <i class="mt-1" style="color:#bdbdbd; font-size:.8rem;">{{ post.created_at }}</i>
            </div>
            <div class="mt-2">
              <a class="" href="{% url 'accounts:profile' username=post.user %}">
                <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if post.user.image %} "{{ post.user.image.url }}" {% else %} "{% static 'accounts/image/user_image.png' %}" {% endif %} alt="프로필 사진" id="profile-image"/>
                <span class="ms-1"><strong>{{ post.user }}</strong></span>
              </a>
            </div>
          </div>
          <div id="detail--music">
            {% if not music %}
            {% else %}
              <div class="detail--music--box">
                {% for track in music %}
                  <div id="music-track">
                    <img style="width:50px; border-radius: 5px;" src="{{ track.image.url }}" alt="{{ track.album.name }}">
                    <span style="max-width:100%; word-wrap: break-word;">{{ track.album }}</span>
                    <a href="#" class="play-music-profile detail--music--playbtn" data-src="{{ track.preview_url }}" >재생</a>
                  </div>
                {% endfor %}
                <audio class="music-audio mt-3" style="width:100%; height:45px;" controls>
                  <source src="" type="audio/mp3">
                </audio>
              </div>
            {% endif %}
          </div>
        </div>
        <ul>
          <div id="detail--main--box">
            <div class="detail--content">
              <li class="mb-3 mt-3 me-3 detail--content--box">
                <div class="detail--content">{{ post.content|safe }}</div>
              </li>
            </div>
            <div class="detail--map">
              <li class="detail__map--wrap mb-3 mt-3">
                <div id="map" style="width:auto;height:300px;" class="detail__map"></div>
              </li>
            </div>
          </div>
          <li class="d-flex mt-3 mb-3">
            {% if request.user == post.user %}
              <div style="display:flex; align-self:center;">
                <button class="me-2">
                  <a href="{% url 'posts:index' %}" class="ieum--button--nobgc1">뒤로가기</a>
                </button>
                <button class="me-2">
                  <a href="{% url 'posts:update' post.pk %}" class="ieum--button--nobgc2">수정</a>
                </button>
                <form action="{% url 'posts:delete' post.pk %}" style="display:flex; align-self:center;">
                  <input type="submit" value='삭제' class="ieum--button--nobgc3">
                </form>
              </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="comments--wrap">
      <ul>
        <li>
          <div>
            <h4 class="font--gangwon">
              인기 댓글순 <i class="bi bi-chat-heart" style="color:crimson;"></i>
            </h4>
            {% comment %} 좋아요가 많은 상위 3개의 데이터 {% endcomment %}
            {% for comment_like in comment_likes %}
              <div class="comments__content--wrap mt-2">
                {% if comment_like.post.pk == post.pk %}
                  <div>
                    <div class="comments__user--wrap">
                      <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment_like.user.image %}{{ comment_like.user.image.url }}{% else %}{% static 'accounts/image/user_image.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                      <p class="fw-bold ms-2">{{ comment_like.user }}</p>
                      <i class="comment--date">{{ comment_like.created_time }}</i>
                    </div>
                    <p class="mt-2" style="word-wrap: break-word;">{{ comment_like.content|linebreaksbr }}</p>
                  </div>
                  <!-- 인기 댓글 수정, 삭제 -->
                  {% if request.user == comment_like.user %}
                    <div class="comments__btn--list1">
                      <span style="display: flex; align-items: center;">
                        ❤️<span class="ms-1">{{comment_like.like_users.count}}</span>
                      </span>
                      <div class="me-2" style="display:flex; align-self:center;">
                        <div class="ieum--button1">
                          <button type="submit" data-bs-toggle="modal" data-bs-target="#edit-{{comment_like.pk}}">수정</button>
                        </div>
                      </div>
                      <form action="{% url 'posts:comment_delete' post.pk comment_like.pk %}" style="display:flex; align-self:center;">
                        <input type="submit" value='삭제' class="ieum--button2">
                      </form>
                    </div>
                  {% else %}
                    <span class="me-3" style="display: flex; align-items: center;">
                      ❤️<span class="ms-1">{{comment_like.like_users.count}}</span>
                    </span>
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </li>

        <hr>

        <li>
          <select id="comment-select" class="form-select" style="width:150px;">
            <option value="latest-comments">최신 댓글</option>
            <option value="comments">오래된 댓글</option>
          </select>

          {% comment %} 최신 댓글 {% endcomment %}
          <div id="latest-comments-section" class="latest-comments-section">
            <h4 class="font--gangwon mt-3">최신 댓글순</h4>
            {% for comment in comment_latest %}
              <div id="comment" class = "latest-comment">
                <div class="comments__content--wrap">
                  {% if comment.user == request.user %}
                    <div>
                      <div class="comments__user--wrap">
                        <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'accounts/image/user_image.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                        <p class="fw-bold ms-2">{{ comment.user }}</p>
                        <i class="comment--date ms-2">{{ comment.created_time }}</i>
                      </div>
                      <p class="mt-2" style="word-wrap: break-word;">{{ comment.content|linebreaksbr }}</p>
                    </div>
                    <div class="comments__btn--list1">
                      <span style="display: flex; align-items: center;">
                        ❤️<span class="ms-1">{{comment.like_users.count}}</span>
                      </span>
                      <div class="me-2" style="display:flex; align-self:center;">
                        <div class="ieum--button1">
                          <button type="button" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                        </div>
                      </div>
                      <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" style="display:flex; align-self:center;">
                        <input type="submit" value='삭제' class="ieum--button2">
                      </form>
                    </div>
                  {% else %}
                    <div>
                      <div class="comments__user--wrap">
                        <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'accounts/image/user_image.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                        <p class="fw-bold ms-2">{{ comment.user }}</p>
                        <i class="comment--date ms-2">{{ comment.created_time }}</i>
                      </div>
                      <p class="mt-2" style="word-wrap: break-word;">{{ comment.content|linebreaksbr }}</p>
                    </div>
                    <div class="comments__btn--list2">
                      <div class="me-1" style="display:flex; align-self:center;">
                        {% comment %} <form action="{% url 'posts:comment_likes' post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          {% if request.user in comment.like_users.all %}
                            <button class="border-0 bg-transparent" type="submit">
                              ❤️
                            </button>
                          {% else %}
                            <button class="border-0 bg-transparent" type="submit">
                              🤍
                            </button>
                          {% endif %}
                        </form>
                        <span class="ms-1">{{comment.like_users.count}}</span> {% endcomment %}
                        <form id="comment-like-form-{{ comment.pk }}" data-post-id="{{post.pk}}" data-comment-id="{{comment.pk}}" class="l_form">
                          {% csrf_token %}
                          <button id="comment-heart" class="border-0 bg-transparent comment-like-button" type="submit" >
                            {% if request.user in comment.like_users.all %}
                              ❤️
                            {% else %}
                              🤍
                            {% endif %}
                          </button>
                          <span id="comment-like-count" class="ms-1">{{ comment.like_users.count }}</span>
                        </form>
                        
                      </div>
                      <!-- 댓글 신고 모달 버튼 -->
                      <button type="button" class="comments__btn--list ms-2" data-bs-toggle="modal" data-bs-target="#CommentReportModal-{{comment.pk}}" style="display:flex; align-self:center;">
                        <i class="bi bi-bell" style="color:crimson; font-size:1.2rem;"></i>
                      </button>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div id="latest-load-more-btn" class="mb-2" style="text-align: center;">
              <button class="load-more-comments btn" type="button"><i>더보기</i></button>
            </div>
          </div>

          {% comment %} 댓글 수정 모달 {% endcomment %}
          {% for comment, u_comment_form in comment_forms %}
            {% comment %} 최신, 오래된 댓글 신고 모달 {% endcomment %}
            <div class="modal fade" id="edit-{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글 수정</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'posts:comment_update' post.pk comment.pk %}" method ='POST' enctype="multipart/form-data">
                      {% csrf_token %}
                      {{u_comment_form}}
                      <div class="modal-footer">
                        <button type="submit" class="comment--update--btn">수정하기</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} 댓글 신고 모달 {% endcomment %}
            <div class="modal fade" id="CommentReportModal-{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CommentReportModalLabel-{{comment.pk}}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CommentReportModalLabel-{{comment.pk}}">댓글 신고</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'posts:comment_report' post.pk comment.pk %}"  method ='POST'>
                      {% csrf_token %}
                      {{ comment_report_form }}
                      <div class="modal-footer">
                        <button type="submit" class="comment--update--btn">신고하기</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        

          {% comment %} 오래된 댓글 {% endcomment %}
          <div id="comments-section" class="comments-hidden">
            <h4 class="font--gangwon mt-3">오래된 댓글순</h4>
            {% for comment in comments %}
              <div class="comment old-comment">
                <div class="comments__content--wrap">
                  {% if comment.user == request.user %}
                    <div>
                      <div class="comments__user--wrap">
                        <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'accounts/image/user_image.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                        <p class="fw-bold ms-2">{{ comment.user }}</p>
                        <i class="comment--date ms-2">{{ comment.created_time }}</i>
                      </div>
                      <p class="mt-2" style="word-wrap: break-word;">{{ comment.content|linebreaksbr }}</p>
                    </div>
                    <div class="comments__btn--list1">
                      <span style="display: flex; align-items: center;">
                        ❤️<span class="ms-1">{{comment.like_users.count}}</span>
                      </span>
                      <div class="me-2" style="display:flex; align-self:center;">
                        <div class="ieum--button1">
                          <button type="submit" data-bs-toggle="modal" data-bs-target="#edit-{{comment.pk}}">수정</button>
                        </div>
                      </div>
                      <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" style="display:flex; align-self:center;">
                        <input type="submit" value='삭제' class="ieum--button2">
                      </form>
                    </div>
                  {% else %}
                    <div>
                      <div class="comments__user--wrap">
                        <img style="color: black; width:25px; height:25px; border-radius:50%;" src={% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'accounts/image/user_image.png' %}{% endif %} alt="프로필 사진" id="profile-image"/>
                        <p class="fw-bold ms-2">{{ comment.user }}</p>
                        <i class="comment--date ms-2">{{ comment.created_time }}</i>
                      </div>
                      <p class="mt-2" style="word-wrap: break-word;">{{ comment.content|linebreaksbr }}</p>
                    </div>
                    <div class="comments__btn--list2">
                      <div class="me-1" style="display:flex; align-self:center;">
                        {% comment %} <form action="{% url 'posts:comment_likes' post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          {% if request.user in comment.like_users.all %}
                            <button class="border-0 bg-transparent" type="submit">
                              ❤️
                            </button>
                          {% else %}
                            <button class="border-0 bg-transparent" type="submit">
                              🤍
                            </button>
                          {% endif %}
                        </form>
                        <span class="ms-1">{{comment.like_users.count}}</span> {% endcomment %}
                        <form id="comment-like-o-form-{{ comment.pk }}" data-post-id="{{post.pk}}" data-comment-id="{{comment.pk}}" class="o_form">
                          {% csrf_token %}
                          <button id="comment-heart-2" class="border-0 bg-transparent comment-like-button" type="submit" >
                            {% if request.user in comment.like_users.all %}
                              ❤️
                            {% else %}
                              🤍
                            {% endif %}
                          </button>
                          <span id="comment-like-count-2" class="ms-1">{{ comment.like_users.count }}</span>
                        </form>            
                      </div>
                      {% comment %} 댓글 신고 모달 버튼 {% endcomment %}
                      <button type="button" class="comments__btn--list ms-2" data-bs-toggle="modal" data-bs-target="#CommentReportModal-{{comment.pk}}" style="display:flex; align-self:center;">
                        <i class="bi bi-bell" style="color:crimson; font-size:1.2rem;"></i>
                      </button>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div id="old-load-more-btn" class="mb-2" style="text-align: center;">
              <button class="load-more-comments btn" type="button"><i>더보기</i></button>
            </div>
          </div>
        </li>
        <li>
          <form id="comment-form" action="{% url 'posts:comment_create' post.pk %}" method='POST'>
            {% csrf_token %}
            <div class="comment__create--list">
              <div class="create--list__item1 comment__create--textarea--wrap">{{ comment_form.content }}</div>
              <div class="create--list__item2">
                <input type="submit" class="ieum--button1" value='등록'>
              </div>
            </div>
          </form>
        </li>
      </ul>
  </section>





  
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3acf611a56d6b43dcc75b2331aac5490&libraries=services"></script>
{% comment %} <script src="{% static 'posts/js/detail_map.js' %}"></script> {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'posts/js/detail_music.js' %}"></script>
<script src="{% static 'posts/js/detail_ajax.js' %}"></script>
<script src="{% static 'posts/js/detail_more.js' %}"></script>
<script src="{% static 'posts/js/detail_comment_create_ajax.js' %}"></script>
<script src="{% static 'posts/js/detail_likes_ajax.js' %}"></script>
<script src="{% static 'posts/js/detail_comment_likes_ajax.js' %}"></script>
<script>

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch( "{{ post.address }}", function(result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">만나고 싶은 곳</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    


</script>
{% endblock content %}