
body {
  display: grid;
  grid-template-rows: auto auto minmax(52vh, 1fr) auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
  "header header header header header header"
  "aside aside aside aside aside aside"
  ". main main main main ."
  "footer footer footer footer footer footer";
}
header.base--item {
  grid-area: header;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
aside.base--item {
  grid-area: aside;
  padding-top: 70px;
}
main.base--item {
  grid-area: main;
  margin: 3rem 0;
}
footer.base--item {
  grid-area: footer;
}
.header--container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". header--wrap header--wrap header--wrap header--wrap .";
  height: 70px;
}
.header--wrap {
  position: relative;
  grid-area: header--wrap;
  display: grid;
  grid-template-columns: 190px 1fr 230px;
  align-items:last baseline;
}
.header--search--wrap {
  padding-left: 1rem;
}
.nav--hidden {
  display: none;
}
.base--report--wrap {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: crimson;
  font-size: 13px;
  background-color: #b3b3b378;
  padding: 0.5rem 0;
}
.nav--container {
}
.nav--wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}
.nav--list--wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". nav nav nav nav .";
  justify-content: center;
}
.nav--list {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 0 100px 0 100px;
  /* background-color: rgba(239,239,239, .7); */
}
.nav--list--text {
  font-size: 1.2rem;
}
.nav--list--text:hover {
  color: #777;
}
.nav--profile {
  position: relative;
}
.user--message {
  position: absolute;
  top: 0;
  right: -0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-size: 9px;
  color: #fff;
  border-radius: 50%;
  background-color: rgb(255, 115, 206);
}
.nav__active {
  color: #489F48;
  font-weight: 600;
}
.nav__active:hover {
  color: #489F48;
}
.footer--container {
  background-color: #efefef;
  padding: 3rem 0;
  text-align: center;
}



