
body {
  display: grid;
  grid-template-rows: auto auto minmax(52vh, 1fr) auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
  "header header header header header header"
  "aside aside aside aside aside aside"
  ". main main main main ."
  "footer footer footer footer footer footer";
}
header.base--item {
  grid-area: header;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
aside.base--item {
  grid-area: aside;
  padding-top: 70px;
}
main.base--item {
  grid-area: main;
  margin: 3rem 0;
}
footer.base--item {
  grid-area: footer;
}
.header--container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". header--wrap header--wrap header--wrap header--wrap .";
  height: 70px;
}
.header--wrap {
  position: relative;
  grid-area: header--wrap;
  display: grid;
  grid-template-columns: 190px 1fr 230px;
  align-items:last baseline;
}
/* .nav--toggle {
  display: none;
  text-align: end;
} */
/* .header--wrap {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
} */
.nav--wrap {
  height: 100%;
}
.nav--list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* .nav--toggle {
  display: block;
} */
.header--search--wrap {
  padding-left: 1rem;
  padding-bottom: 0.3rem;
}
.nav--hidden {
  display: none;
}
.base--report--wrap {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: crimson;
  font-size: 13px;
  background-color: #b3b3b378;
  padding: 0.5rem 0;
}
/* .nav--container {
} */
/* 네비토글 */
/* .nav--wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}
.nav--list--wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". nav nav nav nav .";
  justify-content: center;
}
.nav--list {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 0 100px 0 100px;
  /* background-color: rgba(239,239,239, .7);
} */
.nav--list--text {
  font-size: 1.2rem;
}
.nav--list--text:hover {
  color: #777;
}
.nav--profile {
  position: relative;
}
.user--message {
  position: absolute;
  top: 0;
  right: -0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-size: 9px;
  color: #fff;
  border-radius: 50%;
  background-color: rgb(255, 115, 206);
}
.nav__active {
  color: #489F48;
  font-weight: 600;
}
.nav__active:hover {
  color: #489F48;
}
.footer--container {
  background-color: #efefef;
  padding: 3rem 0;
  text-align: center;
}

@media screen and (max-width:1350px){
  .header--container {
    height: 120px;
  }
  .header--wrap {
    grid-template-columns: 190px 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .header--item1, .header--item2 {
      grid-row: 1;
  }
  .header--item3 {
      grid-column: 1 / span 2;
      grid-row: 2;
  }
  aside {
    position: relative;
    top: 50px;
  }
  main.base--item {
    padding-top: 3rem;
  }
}

@media screen and (max-width:950px){
  .header--wrap {
    grid-template-columns: 1fr; 
    }
  .header--logo {
    text-align: center;
  } 
  .header--item2 {
    display: none;
  }
  .nav--hidden {
    display: block;
  }
  .mobile__nav--container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }
  .mobile__nav--wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". nav nav nav nav .";
  }   
  .mobile__nav--list--wrap {
    grid-area: nav;
  }
  .mobile__nav--list {
    display: flex;
    justify-content: space-between;
  }
  .mobile__nav--list--text {
    display: flex;
  }
  .footer--container {
    padding-bottom: 130px;
  }
}