
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.font--gangwon {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
  }

.nori--viewport {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.nori--wheel {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(194, 232, 194, .5);
  animation: 3s linear 0.2s infinite alternate bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.nori--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
