@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.font--gangwon {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
  }

.nori--viewport {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.nori--wheel {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(194, 232, 194, .5);
  animation: 3s linear 0.2s infinite alternate bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.nori--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* music */
.profile--music--box {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 8rem;
  right: 0;
  width: 300px;
  border-radius: 5px;
  padding: 3px 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  max-width: 500px;
  /* margin: auto; */
}
.profile--music--setting--wrap {
}
.profile--music--setting1 {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fafafe;
  border-radius: 5px;
  height: 30px;
}
.profile--music--setting2 {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  cursor: default;
}
.profile--music--setting1:hover{
  background: rgba(231, 255, 164, 0.847);
}
.profile--music--track {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.5rem;
}
.profile--music--album {
  max-width:100%; 
  word-wrap: break-word;
}
.profile--music--btn--wrap {
  margin: 5px 0 10px 0;
}
.profile--music--btn1, .profile--music--btn2 {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 1px 6px;
  background: #fafafa;
  border-radius: 5px;
}
.profile--music--btn2__1 {
  padding: 1px 6px;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 5px;
  cursor: default;
}
.profile--music--btn1:hover,
.profile--music--btn2:hover,
.profile--music--search--btn:hover,
 .profile--music--close--btn:hover {
  background-color: rgba(231, 255, 164, 0.847);
}
.profile--music--search--btn {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 6px 12px;
  background: #fafafa;
  border-radius: 5px;
}
.profile--music--result {
  max-height: calc(100vh - 400px);
  overflow-x: hidden;
  overflow-y: auto;
}
.profile--music--result::-webkit-scrollbar {
  width: 6px;
}
.profile--music--result::-webkit-scrollbar-thumb {
  height: 30%;
  background: #fceddb;
  border-radius: 10px;
}
.profile--music--result::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}
.profile--music--close--btn {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 6px 12px;
  background: #fafafa;
  border-radius: 5px;
  margin-top: 1rem;
}
.profile--modal--body--wrap {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profile--modal--follow--list {
  margin-right: 10px;
}


@media (max-width: 950px) {
  .main--audio {
    display: none;
  }
}