{% extends 'base.html' %}
{% load static %}

{% block title %}밸런스 게임 - {% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'balances/css/balance.css' %}">
  <link rel="stylesheet" href="{% static 'balances/css/detail.css' %}">
{% endblock head %}

{% block aside %}
<article class="main--title--wrap">
  <h1 class="font--gangwon main--title"><span class="main--title--icon"><i class="bi bi-controller"></i></span> 밸런스 게임</h1>
  <p>자신의 성향을 간단한 게임을 통해 알아가 보세요!</p>
</article>
{% endblock aside %}

{% block content %}
  <article class="question--container">
    <div class="question--title--wrap">
      <h1 class="question--title">{{ question.title }}</h1>
    </div>
    
    <section class="balances--question--wrap">
      {% comment %} 1번 답 {% endcomment %}
      <article class="balances--question--a">
        <h1 class="question--a--title">A</h1>
        <form id="form1" data-question-id="{{ question.id }}" data-last-id="{{ last.id }}" data-next-url="{% url 'balances:detail' question.pk|add:1 %}" data-index-url="{% url 'posts:index' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="question--image--wrap">
            {% if question.image1 %}
              <img src="{{  question.image1.url }}" alt="1번 사진" class="question--a--img">
            {% endif %}
            <div class="question--submit--wrap">
                <input class="question--a--btn" type="submit" value="" style="font-size: 1.2rem;">
            </div>
            <p class="question--content">{{ question.content1 }}</p>
          </div>
        </form>
      </article>

      <!-- vs 사진 -->
      <div class="question--vs--wrap">
        <img src="{% static 'balances/image/vs.png' %}" alt="vs">
      </div>
      {% comment %} 2번 답 {% endcomment %}
      <article class="balances--question--b">
        <h1 class="question--b--title">B</h1>
        <form id="form2" data-question-id="{{ question.id }}" data-last-id="{{ last.id }}" data-next-url="{% url 'balances:detail' question.pk|add:1 %}" data-index-url="{% url 'posts:index' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="question--image--wrap">
            {% if question.image2 %}
              <img src="{{  question.image2.url }}" alt="2번 사진" class="question--b--img">
            {% endif %}
            <div class="question--submit--wrap">
                <input class="question--b--btn" type="submit" value="" style="font-size: 1.2rem;">
            </div>
            <p class="question--content">{{ question.content2 }}</p>
          </div>
        </form>
      </article>
    </section>
    <div class="question--statusbar--wrap">
      <div class="question--statusbar" style="width: 100%; height: 25px; border: 1px solid #ccc;">
        <div id="progress" style="width: 0%; height: 100%; background: #AFF4C6;"></div>
      </div>
      <div>{{ question.pk }} / 10</div>
    </div>
    <div class="balance--create--etc--wrap">
      {% comment %} 슈퍼유저에게만 보이는 것 {% endcomment %}
      {% if request.user.is_superuser %}
        <a href="{% url 'balances:update' question.pk %}" class="balance--create-btn">수정</a>
      {% endif %}
      <div class="">
        {% comment %} 이전 질문 버튼 {% endcomment %}
        {% if question.pk != 1 %}
          <a href="{% url 'balances:detail' question.pk|add:-1 %}" class="balance--create-btn">이전 질문</a>
        {% endif %}
      </div>
    </div>
  </article>
{% endblock content %}

{% block script %}
<script>
  const form1 = document.getElementById('form1');
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form1.addEventListener('submit', (event) => {
    event.preventDefault(); // Prevent the default form submission behavior
    const nextUrl = event.target.dataset.nextUrl
    const indexUrl = form2.dataset.indexUrl
    const questionId = event.target.dataset.questionId
    const lastId = event.target.dataset.lastId
    console.log(nextUrl)
    console.log(lastId)
    axios({
      method: 'post',
      url: `/balances/${questionId}/answer/1/`,
      headers: {'X-CSRFToken': csrftoken},
    })

    if (questionId === lastId) {
      window.location.href = indexUrl
    } else { 
      window.location.href = nextUrl
    }
  });
  const form2 = document.getElementById('form2');
  form2.addEventListener('submit', (event) => {
    event.preventDefault();
    const nextUrl = form2.dataset.nextUrl
    const indexUrl = form2.dataset.indexUrl
    const questionId = event.target.dataset.questionId
    const lastId = event.target.dataset.lastId
    console.log(nextUrl)
    console.log(indexUrl)
    axios({
      method: 'post',
      url: `/balances/${questionId}/answer/2/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    if (questionId === lastId) {
      window.location.href = indexUrl
    } else { 
      window.location.href = nextUrl
    }
  });

  // Django template에서 가져온 문제 번호를 JavaScript 변수에 저장
  let questionNumber = {{ question.pk }};

  // 총 문제 수
  const totalQuestions = 10;

  // 상태바의 너비를 계산 (퍼센트로)
  let progressWidth = (questionNumber / totalQuestions) * 100;

  // 상태바 업데이트
  document.getElementById('progress').style.width = progressWidth + "%";
    
</script>


{% endblock script %}